<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Cartas'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="letters">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="dateLetter" *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateLetter|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="registry">
        <th mat-header-cell mat-sort-header="numberLetterL" *matHeaderCellDef>N&deg; Registro</th>
        <td mat-cell *matCellDef="let element"> {{element.numberLetterL}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="origin">
        <th mat-header-cell mat-sort-header="from_or_to" *matHeaderCellDef>Procedencia</th>
        <td mat-cell *matCellDef="let element"> {{element.from_or_to}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="cite">
        <th mat-header-cell mat-sort-header="citeLetter" *matHeaderCellDef>Cite</th>
        <td mat-cell *matCellDef="let element"> {{element.citeLetter}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header="nameProject" *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th mat-header-cell mat-sort-header="referenceLetter" *matHeaderCellDef>Referencia</th>
        <td mat-cell *matCellDef="let e">{{e.referenceLetter}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
<!--          <a target="_blank" [href]="ele.fileLetter" [disabled]="!ele.fileLetter" mat-icon-button color="primary">-->
<!--            <mat-icon>description</mat-icon>-->
<!--          </a>-->
          <button [appShowFile]="ele.fileLetter" [disabled]="!ele.fileLetter" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </button>
          <button [disabled]="isDisabladT()" [routerLink]="'/letters/received/' + ele.idLetter"
                  matTooltip="Seguimiento" mat-icon-button color="primary">
            <mat-icon>contact_mail</mat-icon>
          </button>
          <button [disabled]="isDisabled(ele)" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled(ele)" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="isThisUser(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
