<h3 mat-dialog-title>Descripcion</h3>
<form mat-dialog-content autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <textarea matInput placeholder="Descripcion" (keypress)="setEdited()" [(ngModel)]="description" name="description"
              [maxLength]="200"></textarea>
    <mat-hint>{{description.length}}/200</mat-hint>
  </mat-form-field>
  <div mat-dialog-actions>
    <span class="example-spacer"></span>
    <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
    <button type="submit" [disabled]="edited" mat-raised-button color="primary"
            cdkFocusInitial>{{text.accept}}</button>
  </div>
</form>
