<h3 mat-dialog-title>Eliminar</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="action()">
    <!--<input type="text" name="" [value]="deleted">-->
    eliminar a <b>{{deleted}}</b>?
    <!--<input type="text" #deleteButtonAccept>-->
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button mat-raised-button type="submit" color="warn"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
