form {
  font: 400 12px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: -10px;
}

.mat-dialog-title {
  background: #f04236;
}
