<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Eventuales'"
                          [options]="options"
                          [onNew]="false"
                          [onSave]="false"
                          [onProgress]="progress"
                          (searching)="search($event)"
                          (refresh)="load()"
                          (filterOption)="switchPersonal($event)"
                          (print)="print()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="viewEventuaForm">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="nameEventual" *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameEventual}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="sun1">
        <th mat-header-cell *matHeaderCellDef>D</th>
        <td mat-cell *matCellDef="let element">{{element.sun1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="mon1">
        <th mat-header-cell *matHeaderCellDef>L</th>
        <td mat-cell *matCellDef="let element">{{element.mon1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="tue1">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">{{element.tue1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="wed1">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">{{element.wed1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="thu1">
        <th mat-header-cell *matHeaderCellDef>J</th>
        <td mat-cell *matCellDef="let element">{{element.thu1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="fri1">
        <th mat-header-cell *matHeaderCellDef>V</th>
        <td mat-cell *matCellDef="let element">{{element.fri1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sat1">
        <th mat-header-cell *matHeaderCellDef>S</th>
        <td mat-cell *matCellDef="let element">{{element.sat1}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sun2">
        <th mat-header-cell *matHeaderCellDef>D</th>
        <td mat-cell *matCellDef="let element">{{element.sun2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="mon2">
        <th mat-header-cell *matHeaderCellDef>L</th>
        <td mat-cell *matCellDef="let element">{{element.mon2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="tue2">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">{{element.tue2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="wed2">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">{{element.wed2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="thu2">
        <th mat-header-cell *matHeaderCellDef>J</th>
        <td mat-cell *matCellDef="let element">{{element.thu2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="fri2">
        <th mat-header-cell *matHeaderCellDef>V</th>
        <td mat-cell *matCellDef="let element">{{element.fri2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sat2">
        <th mat-header-cell *matHeaderCellDef>S</th>
        <td mat-cell *matCellDef="let element">{{element.sat2}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-header-cell mat-sort-header="totalDays" *matHeaderCellDef>Dias</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.totalDays|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell mat-sort-header="salaryJornal" *matHeaderCellDef>Jornal</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.salaryJornal|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="basic">
        <th mat-header-cell mat-sort-header="basicMount" *matHeaderCellDef>Monto<br>Basico</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.basicMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">Total</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell mat-sort-header="discount" *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.discount|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.discount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="bonus">
        <th mat-header-cell mat-sort-header="bonus" *matHeaderCellDef>Bono</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.bonus|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.bonus|dataMoney}}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell mat-sort-header="mountTotal" *matHeaderCellDef>Monto<br>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.mountTotal|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.mountTotal|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-header-cell mat-sort-header="advance" *matHeaderCellDef>Anticipo</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.advance|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell mat-sort-header="liquidPay" *matHeaderCellDef>Liquido <br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPay|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.liquidPay|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="idDisabledPlan()" mat-icon-button color="primary" matTooltip="Planillar"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/eventual/'+idEventualForm+'/planerEventual/' + ele.idEventual ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button mat-icon-button color="warn" [disabled]="isDisabled()" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
