<app-oriana-toolbar [title]="title"></app-oriana-toolbar>
<div class="print-windows">
  <div class="content-progress">
    <div class="progress">
      <mat-progress-bar
        [color]="'primary'"
        [mode]="'indeterminate'">
      </mat-progress-bar>
    </div>
  </div>
  <object id="contentPDF"></object>
  <app-button-back [isBack]="true"></app-button-back>
</div>
