.print-windows {
  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  /*top: 0;*/
  /*left: 0;*/
  z-index: 99999;
  background: #505559;
}

object {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -4px;
}

.content-progress {
  position: relative;
  width: 500px;
  margin: auto;
  top: 49%;
}

.progress {
  background-color: #ffe8cc;
}

.indeterminate {
  background-color: #FF9B1D;
}
