.oriana-toolbar-icon {
  padding: 0 14px;
}

.oriana-toolbar-spacer {
  flex: 1 1 auto;
}

.subtitle {
  margin-left: 43px;
  width: 100%;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
