<div class="oriana-toolbar">
  <mat-toolbar color="primary" class="mat-elevation-z3">
    <mat-toolbar-row>
      <button mat-icon-button (click)="buttonDraw()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="oriana-toolbar-spacer"></span>
      <button mat-button  [matMenuTriggerFor]="loginMenu">
        <span>{{user?.username}}</span>
        <mat-icon class="oriana-toolbar-icon">account_circle</mat-icon>
      </button>
      <mat-icon class="oriana-toolbar-icon" matTooltip="Salir" (click)="logout()">exit_to_app</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="subTitle" style="height: 30px;font-size: 18px; padding-bottom: 23px;">
      <span class="subtitle">{{subTitle}}</span>
      <span class="oriana-toolbar-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-menu #loginMenu="matMenu" [xPosition]="'before'">
  <button mat-menu-item (click)="openPerfil()"><span>Perfil</span></button>
  <button mat-menu-item (click)="refreshPermision()"><span>Actualizar</span></button>
  <button mat-menu-item (click)="logout()"><span>Salir</span></button>
</mat-menu>
