<h3 mat-dialog-title>Contrato</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field>
      <mat-label>N&deg; Contrato</mat-label>
      <input matInput type="text" placeholder="N&deg; Contrato" required [(ngModel)]="contract.numberContract"
             name="numberContract">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proyecto</mat-label>
      <mat-select required placeholder="Proyecto" [(ngModel)]="contract.projects_idProject" name="projects_idProject">
        <mat-option *ngFor="let project of projects" [value]="project.idProject">
          {{project.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="projects.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proveedor</mat-label>
      <mat-select required placeholder="Proveedor" [(ngModel)]="contract.provider_idProvider"
                  name="provider_idProvider">
        <mat-option *ngFor="let provider of providers" [value]="provider.idProvider">
          {{provider.nameProvider}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="providers.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select required placeholder="Categoria" [(ngModel)]="contract.idCategoryContract" name="idCategoryContract">
        <mat-option *ngFor="let category of categories" [value]="category.idCategory">
          {{category.nameCategory}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="categories.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
