<h3 mat-dialog-title>Errores</h3>
<div mat-dialog-content>
  <div (mouseout)="showExist(null)" class="info-content">
    <table mat-table [dataSource]="rowsImport">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell [ngClass]="{'row-error':!element.exist.fecha}" *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell [ngClass]="{'row-error':!element.exist.proyecto}" *matCellDef="let element"> {{element.proyecto}} </td>
      </ng-container>
      <ng-container matColumnDef="receipt">
        <th mat-header-cell *matHeaderCellDef>N&deg; Recibo</th>
        <td mat-cell [ngClass]="{'row-error':!element.exist.nroRecivo}" *matCellDef="let element"> {{element.nrorecivo}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell [ngClass]="{'row-error':!element.exist.descripcion}" *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="import">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell [ngClass]="{'row-error':!element.exist.importe}" *matCellDef="let element"> {{element.importe}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: columns;" (mouseover)="showExist(element.exist)"></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <div class="info-error" *ngIf="infoExist">
      <!--<div class="info-error">-->
      <span class="item-error" [ngClass]="{'item-error-visible':!infoExist.fecha}">Fecha incorrecta</span>
      <span class="item-error" [ngClass]="{'item-error-visible':!infoExist.proyecto}">proyecto incorrecto</span>
      <span class="item-error" [ngClass]="{'item-error-visible':!infoExist.nroRecivo}">N&deg; recivo incorreccto</span>
      <span class="item-error" [ngClass]="{'item-error-visible':!infoExist.descripcion}">Descripci&oacute;n menor a 3 palabras</span>
      <span class="item-error" [ngClass]="{'item-error-visible':!infoExist.importe}">Importe incorrecto</span>
    </div>
    <span class="example-spacer"></span>
    <button type="reset" mat-raised-button (click)="canceled()">{{text.accept}}</button>
  </div>
</div>
