.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  top: 0;
  left: 0;
}

.mat-dialog-content {
  padding: 0 24px 24px 24px !important
}

table {
  box-shadow: none;
  width: 100%;
}

td {
  border: solid 1px #a6a6a638;
}

tr {
  height: 30px !important;
  font-size: 12px;
}

td.row-error {
  background-color: #a90c0c1f;
  color: #000000bd;
  border: solid #9c424230 1px;
}

tbody > tr:hover {
  outline: #091e61 auto thick !important;
}

.info-error {
  position: inherit;
  display: inline-block;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 25px;
}

.info-error .item-error {
  background-color: #cccccc4d;
  color: #2d2d2d;
  font-size: 10px;
  padding: 7px 12px;
  border-radius: 50px;
  visibility: hidden;
  border: solid 1px #c1c2c18a;
}

.item-error.item-error-visible {
  visibility: visible !important;
}

.date {
  width: 70px;
  text-align: center;
}

.info-content {
  max-height: 580px;
  overflow: hidden auto;
  width: 100%;
  position: inherit;
}
