<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Clientes'"
                          [options]="options"
                          [onNew]="!isDisabled()"
                          [onProgress]="progress"
                          (new)="createPersonal()"
                          (refresh)="loadPersonal()"
                          (print)="printReport()"
                          (searching)="searchPersonal($event)"
                          (filterOption)="switchPersonal($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="clients">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-sort-header="nameClient" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameClient}} </td>
          <td mat-footer-cell *matFooterCellDef></td>

        </ng-container>
        <ng-container matColumnDef="op">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let ele ;let k = index">
            <app-oriana-checkbox (changed)="updateStatePersonal($event,k)"
                                 [checked]="ele.activeClient" [disabled]="isDisabled()"></app-oriana-checkbox>
            <a [appShowFile]="ele.fileClient" mat-icon-button color="primary">
              <mat-icon>description</mat-icon>
            </a>
            <button mat-icon-button color="primary" [disabled]="isDisabled()" (click)="editPersonal(k)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" [disabled]="isDisabled()" (click)="deletePersonal(k)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
  </div>
</div>
