<h3 mat-dialog-title>Mi Perfil</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="accept()">
    <mat-form-field>
      <input matInput [disabled]="!editable" [min]="2" placeholder="Nombre" [(ngModel)]="user.name"
             name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [disabled]="!editable" [min]="2" placeholder="Apellido" [(ngModel)]="user.lastName"
             name="lastName">
    </mat-form-field>
    <mat-form-field *ngIf="editable">
      <input matInput [min]="4" placeholder="Contraseña" required [(ngModel)]="password"
             name="password">
    </mat-form-field>
    <mat-form-field *ngIf="editable">
      <input matInput [min]="4" placeholder="Repetir Contraseña" required [(ngModel)]="repeatPassword"
             name="repeatPassword">
    </mat-form-field>
    <mat-form-field>
      <input matInput disabled placeholder="Nombre de Usuario" [value]="user.username">
    </mat-form-field>
    <!--    <button type="reset" mat-raised-button (click)="edit()">Editar Mis Datos</button>-->
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>Acualizar mis Datos
      </button>
    </div>
  </form>
</div>
