<app-oriana-table-toolbar *ngIf="titulo"
                          [routeBack]="routerBack"
                          [title]="titulo"
                          [searchTittle]="'Buscar Facturas'"
                          [onMore]="false"
                          [onProgress]="progress"
                          [onNew]="false"
                          [onPrint]="false"
                          (refresh)="load()"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="invoices">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateInvoice" style="width: 60px;" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.dateInvoice|dateOriana}}</td>
      </ng-container>
      <ng-container matColumnDef="nit">
        <th mat-sort-header="nitInvoice" mat-header-cell *matHeaderCellDef>Nit</th>
        <td mat-cell *matCellDef="let element">{{element.nitInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="nameInvoice" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="numberI">
        <th mat-sort-header="numberInvoice" mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.numberInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="numberA">
        <th mat-sort-header="numberAutoInvoice" mat-header-cell *matHeaderCellDef>Numero Autorizacion</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.numberAutoInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="amountT">
        <th mat-sort-header="amountTotalInvoice" mat-header-cell *matHeaderCellDef>Monto Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountTotalInvoice|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="amountN">
        <th mat-sort-header="amountNotCreditInvoice" mat-header-cell *matHeaderCellDef>Monto no a credito</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountNotCreditInvoice|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="sub">
        <th mat-sort-header="subTotalInvoice" mat-header-cell *matHeaderCellDef>Sub Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.subTotalInvoice|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="dis">
        <th mat-sort-header="discountInvoice" mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.discountInvoice|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="amountC">
        <th mat-sort-header="amountCreditInvoice" mat-header-cell *matHeaderCellDef>Monto a credito</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountCreditInvoice|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="fiscal">
        <th mat-sort-header="fiscalCreditInvoice" mat-header-cell *matHeaderCellDef>Monto fiscal</th>
        <td mat-cell *matCellDef="let element">{{element.fiscalCreditInvoice}}</td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-sort-header="balance" mat-header-cell *matHeaderCellDef>Codigo de control</th>
        <td mat-cell *matCellDef="let element">{{element.codeControlInvoice}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
