<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    Seleccionar Planilla
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <app-oriana-table-toolbar *ngIf="titulo"
                            [title]="titulo"
                            [searchTittle]="'Buscar Planillas'"
                            [options]="options"
                            [onBack]="false"
                            [onNew]="false"
                            [onProgress]="false"
                            [onPrint]="false"
                            [onMore]="false"
                            [optionFilters]="false"
                            (refresh)="load()"
                            (searching)="search($event)"
                            (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
  <mat-radio-group class="example-radio-group" [(ngModel)]="positionSelect" name="positionSelect">

    <table mat-table [dataSource]="eventualForms">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="form">
        <th mat-header-cell *matHeaderCellDef>planilla</th>
        <td mat-cell *matCellDef="let element"> {{element.biweekly}} - {{element.year}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef style="min-width: 120px">Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.biweekly|periodEventual:element.year}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mountTotal">
        <th mat-header-cell *matHeaderCellDef>Monto Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.mountTotal|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{getTotalColumn('mountTotal')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="anticipation">
        <th mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.advanceEventualForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('advanceEventualForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquidPay">
        <th mat-header-cell *matHeaderCellDef>Liq. Pagable</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.liquidEventualForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('liquidEventualForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef>{{getTotalColumn('mountPayAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef>{{getTotalColumn('balanceAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <mat-radio-button color="primary" [disabled]="isCheckedDisabled(ele)" required [value]="k"></mat-radio-button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
  <button type="submit" [disabled]="validForm()" (click)="sendFormData()" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>
