*:not(mat-icon) {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.example-container {
  width: 31.5%;
  max-width: 100%;
  margin: 0 20px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.containers50 {
  width: 47.5%;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box-invoice, .box-check {
  font-size: 11px;
  display: inline-block;
  width: calc(100% - 80px);
  position: absolute;
}

.box-invoice {
  padding: 10px 10px;
}


.info {
  width: 100px;
  height: 50px;
  background: white;
}

table {
  width: 100%;
}

.mat-card {
  margin-bottom: 10px;
}

.mat-card-header .mat-card-header-text {
  margin: 0 !important;
}

.title-render {
  font-size: 15px !important;
}

.mat-card button {
  font-size: 12px;
}

.example-spacer {
  flex: 1 1 auto;
  position: relative;
  width: calc(100% - 150px);
  display: inline-block;
}

.number-box {
  display: inline-block;
  width: 20px;
  height: 40px;
  padding: 10px;
  position: inherit;
  text-align: center;
}

mat-card.min-card .mat-card-content {
  height: 40px;
}

.col-custom {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  width: calc(50% - 20px);
  font-size: 10px;
}

.col-custom.right {
  /*margin: 0;*/
  margin-right: 10px;
  text-align: right;
  right: 0;
  position: absolute;
}

button.right {
  margin-right: 10px;
}

.table-container .content {
  min-width: 984px;
}
