<app-oriana-table-toolbar *ngIf="title"
                          [routeBack]="routerBack"
                          [title]="title"
                          [onMore]="false"
                          [onSave]="save"
                          [onSearch]="false"
                          [onProgress]="progress"
                          [onNew]="false"
                          [onPrint]="false"
                          (save)="saveAll()"
                          (refresh)="load()"></app-oriana-table-toolbar>
<div class="table-container" id="tableContent">
  <div class="content" #con>
    <div class="example-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Facturas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let fac of invoices; let i = index">
            <div class="number-box">{{i + 1}}</div>
            <div class="box-invoice">
              <div><b>Nombre: </b> {{fac.nameInvoice}}</div>
              <div class="col-custom">
                <div><b>Numero: </b>{{fac.numberInvoice}}</div>
                <div><b>Fecha: </b> {{fac.dateInvoice |dateOriana}}</div>
                <div><b>Nit: </b>{{fac.nitInvoice}}</div>
              </div>
              <div class="col-custom right">
                <div>{{fac.amountTotalInvoice| dataMoney}}<b>: Monto</b></div>
                <div>{{fac.codeControlInvoice}}<b>: Codigo</b></div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="example-container" [ngClass]="containers50">
      <mat-card *ngFor="let che of checks; let i = index">
        <mat-card-header>
          <mat-card-title class="title-render">Cheques: {{che.numberCheck}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="number-box">{{i + 1}}</div>
          <div class="box-invoice">
            <div class="col-custom" style="width: 100%">
              <div><b>Numero: </b>{{che.numberCheck}}</div>
              <div><b>Fecha: </b> {{che.dateCheck |dateOriana}}</div>
              <div><b>Monto por Rendir: </b>{{che.mountCheck| dataMoney}}</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <span class="example-spacer"></span>
          <button [disabled]="isDisabled() || che.invoices.length < 1" (click)="viewCheck(che)" type="button"
                  class="right"
                  color="primary" mat-flat-button>Ver
          </button>
          <button [disabled]="isDisabled()" type="button" color="primary" (click)="create(che)" mat-flat-button>Rendir
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--caja chica-->
    <div class="example-container" style="margin-right: 0;" [ngClass]="containers50">
      <mat-card class="min-card">
        <mat-card-header>
          <mat-card-title class="title-render">Total En caja Chica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="box-invoice">
            <div class="col-custom" style="font-size: 14px;">
              <div><b>total: </b>{{pettyCash.totalPettyCash|dataMoney}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="min-card">
        <mat-card-header>
          <mat-card-title class="title-render">Cheques En Caja Chica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="box-invoice">
            <div class="col-custom" style="font-size: 14px;">
              <div><b>total: </b>{{pettyCash.totalChecks|dataMoney}}</div>
            </div>
          </div>
        </mat-card-content>
        <mat-dialog-actions>
          <span class="example-spacer"></span>
          <button type="button" [disabled]="isDisabled() || pettyCash.allChecks.length < 1" class="right"
                  color="primary"
                  (click)="viewPettyCashCheck()" mat-flat-button>Ver
          </button>
          <button [disabled]="isDisabled()" type="button" color="primary" (click)="createRenderPettyCashCheck()"
                  mat-flat-button>Rendir
          </button>
        </mat-dialog-actions>
      </mat-card>

      <mat-card class="min-card">
        <mat-card-header>
          <mat-card-title class="title-render">Facturas en Caja Chica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="box-invoice">
            <div class="col-custom" style="font-size: 14px;">
              <div><b>total: </b>{{pettyCash.totalInvoices|dataMoney}}</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <span class="example-spacer"></span>
          <button type="button" [disabled]=" isDisabled() || pettyCash.allInvoices.length < 1"
                  (click)="viewPettyCashInvoice()"
                  class="right" color="primary" mat-flat-button>Ver
          </button>
          <button [disabled]="isDisabled()" type="button" color="primary" (click)="createRenderPettyCashInvoice()"
                  mat-flat-button>Rendir
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
