<h3 mat-dialog-title>Transferencia</h3>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight class="tab-modal" (selectedTabChange)="resetAccoun()">
    <mat-tab label="Bancos">
      <app-transfer-bank [dataTransaction]="data" (clickAccept)="accept()" (cancel)="closeDialog()"></app-transfer-bank>
    </mat-tab>
    <mat-tab label="Caja Chica Oficina">
      <app-transfer-petty-cash-office [dataTransaction]="data" (clickAccept)="accept()" (cancel)="closeDialog()"></app-transfer-petty-cash-office>
    </mat-tab>
    <mat-tab label="Caja Chica">
      <app-transfer-petty-cash [dataTransaction]="data" (clickAccept)="accept()" (cancel)="closeDialog()"></app-transfer-petty-cash>
    </mat-tab>
  </mat-tab-group>
</div>
