<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Seleccionar Planilla
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <app-oriana-table-toolbar *ngIf="titulo"
                            [title]="titulo"
                            [searchTittle]="'Buscar Planillas'"
                            [options]="options"
                            [onBack]="false"
                            [onNew]="false"
                            [onProgress]="false"
                            [onPrint]="false"
                            [onMore]="false"
                            [optionFilters]="false"
                            (refresh)="load()"
                            (searching)="search($event)"
                            (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
  <mat-radio-group class="example-radio-group" [(ngModel)]="positionSelect" name="positionSelect">

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="forms">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-sort-header="nroContractProject" mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.periodProviderForm}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Avance</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.advanceProviderForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('advanceProviderForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-sort-header="stateProject" mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.discountProviderForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('discountProviderForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="anticipation">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.anticipationProviderForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('anticipationProviderForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquidPay">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Liq. Pagable</th>
        <td mat-cell class="number-cell"
            *matCellDef="let element"> {{element.liquidPayableProviderForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef
            class="number-cell">{{getTotalColumn('liquidPayableProviderForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('mountPayAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('balanceAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell class="options-cell" *matCellDef="let ele ;let k = index">
          <mat-radio-button color="primary" [disabled]="isCheckedDisabled(ele)" required [value]="k"></mat-radio-button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </mat-radio-group>

</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
  <button type="submit" [disabled]="validForm()" (click)="sendFormData()" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>



