<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <app-oriana-back-button *ngIf="onBack" [routeBack]="routeBack"></app-oriana-back-button>
    <span *ngIf="title">{{title}}</span>
    <span class="example-spacer"></span>
    <button *ngIf="onSearch" matTooltip="Buscar" class="button-search" mat-icon-button (click)="setSearchVisible()">
      <mat-icon>search</mat-icon>
    </button>
    <div *ngIf="onSearch" class="search" style="font-size: 12px !important;top: 8px; position: relative;">
      <form (ngSubmit)="search()">
        <mat-form-field appearance="outline">
          <span matPrefix><mat-icon>search</mat-icon></span>
          <mat-label class="font-sub-tittle">{{searchTittle}}</mat-label>
          <input matInput type="text" [placeholder]="searchTittle" [(ngModel)]="value" name="value">
          <button type="reset" mat-button [ngStyle]="{'visibility':isVisible()}" matSuffix mat-icon-button
                  aria-label="Clear" (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <button *ngIf="onPrint" matTooltip="Imprimir" mat-icon-button (click)="clickPrint()">
      <mat-icon>print</mat-icon>
    </button>
    <button *ngIf="onSave" matTooltip="Guardar" mat-icon-button (click)="clickSave()">
      <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="onFilter" matTooltip="Filtrar" [matMenuTriggerFor]="menuFilter" mat-icon-button
            (click)="clickFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button *ngIf="onNew" matTooltip="Nuevo" mat-icon-button (click)="clickNew()">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="onRefresh" matTooltip="Refrescar" mat-icon-button (click)="clickRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf="onMore" matTooltip="Opciones" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="onProgress" mode="indeterminate"></mat-progress-bar>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item *ngFor="let option of options;" (click)="filter(option.url)">
    <span>{{option.option}}</span>
  </button>
</mat-menu>
<mat-menu #menuFilter="matMenu" xPosition="before">
  <button mat-menu-item *ngFor="let option of optionFilters;" (click)="clickFilter(option.url)">
    <span>{{option.option}}</span>
  </button>
</mat-menu>
