<h3 mat-dialog-title>Reporte</h3>
<div mat-dialog-content class="container-report">
  <mat-tab-group dynamicHeight class="tab-modal">
    <mat-tab label="Proyectos">
      <app-list-proyects-report (getSelectProjects)="setProjects($event)"></app-list-proyects-report>
    </mat-tab>
    <mat-tab label="Personal">
      <app-list-personal-report (getSelectPersonal)="setPersonal($event)"></app-list-personal-report>
    </mat-tab>
    <mat-tab label="Cuenta">
      <app-list-account-report (getSelectAccount)="setAccount($event)"></app-list-account-report>
    </mat-tab>
    <mat-tab label="Periodos">
      <app-list-periods (getSelectYears)="setYears($event)" (getSelectMonths)="setMonths($event)"></app-list-periods>
    </mat-tab>
  </mat-tab-group>
  <!--<app-oriana-modal-loader [visible]="true"></app-oriana-modal-loader>-->
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="valid()" (click)="accept()"
          cdkFocusInitial>{{text.accept}}</button>
</div>
