<h3 mat-dialog-title>Usuario</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="accept()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput (keyup)="setLastName()" [min]="2" placeholder="Nombre" required [(ngModel)]="user.name"
             name="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput (keyup)="setLastName()" [min]="2" placeholder="Apellido" required [(ngModel)]="user.lastName"
             name="lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput disabled placeholder="Nombre de Usuario" required [value]="user.username">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
