<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Solicitudes'"
                          [onFilter]="false"
                          [onNew]="false"
                          [onProgress]="progress"
                          [options]="options"
                          (filterOption)="setCurrent($event)"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="orders">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="dateOrder" *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOrder|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="nOrder">
        <th mat-header-cell mat-sort-header="numberPeriodOrder" *matHeaderCellDef>N&deg; Pedido</th>
        <td mat-cell *matCellDef="let element"> {{element.numberPeriodOrder}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header="nameProject" *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header="state" *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.stateText}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="buy">
        <th mat-header-cell *matHeaderCellDef style="width: 80px">Opciones</th>
        <td mat-cell *matCellDef="let ele; let k = index">
          <button [matMenuTriggerFor]="menu" mat-icon-button color="primary" (click)="select(ele)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/order/quotation/' + orderSelect.idOrder">
    <span>Cotizar Solicitud</span>
  </button>
  <button mat-menu-item [disabled]="disablePe()" (click)="update(4, 'Cotizacion Terminada')">
    <span>Terminar Cotizacion</span>
  </button>
  <button mat-menu-item [disabled]="disablePe()" (click)="update(3, 'Solicitud Rechazada')">
    <span>Rechazar SOLICITUD</span>
  </button>
  <button mat-menu-item [disabled]="disableBuy()" [matMenuTriggerFor]="buy">
    <span>Compra</span>
  </button>
</mat-menu>
<mat-menu #buy="matMenu">
  <button mat-menu-item [routerLink]="'/order/quotation/buys/' + orderSelect.idOrder">COMPRAS</button>
  <button mat-menu-item [disabled]="disabledCo()" (click)="update(5, 'Cotizacion Rechazada')">RECHAZAR
    COTIZACI&Oacute;N
  </button>
</mat-menu>
