<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubtitle()"></app-oriana-toolbar>
<div class="container">
  <app-order-item-petition (getOrder)="setLetter($event)"></app-order-item-petition>
</div>
