<app-oriana-toolbar [title]="titles" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container">
  <app-bank-period *ngIf="idBank" [idBank]="idBank" (bank)="setBank($event)"></app-bank-period>
</div>
