<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubTitle()"></app-oriana-toolbar>
<div class="container">
  <app-transactions-check [idBank]="idBank" [idCheck]="idCheck" [idPeriod]="idPeriod" (data)="updateData($event)"></app-transactions-check>
</div>
