<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePermanent()"></app-oriana-toolbar>
<div class="container" #dd>
  <app-permanent-form-planer *ngIf="idForm" [height]="getHeight(dd)" [idPermanentForm]="idForm"
                             [idPermanent]="idPermanent" (getForm)="form($event)"></app-permanent-form-planer>
</div>
