<h3 mat-dialog-title>Periodo</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field class="col s50">
      <input matInput type="number" placeholder="A&ntilde;o" required [(ngModel)]="year" name="year">
    </mat-form-field>
    <mat-form-field class="col s50">
      <mat-select required placeholder="Mes" [(ngModel)]="month" name="month">
        <mat-option *ngFor="let mo of months; let pos= index" [value]="pos">
          {{mo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
