<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Contratos'"
                          [onNew]="false"
                          [onProgress]="progress"
                          [onPrint]="false"
                          [onMore]="false"
                          (refresh)="load()"
                          (searching)="search($event)">

</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="contracts">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="contract">
        <th mat-sort-header="numberContract" mat-header-cell *matHeaderCellDef>N° Contrato</th>
        <td mat-cell *matCellDef="let element"> {{element.numberContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-sort-header="nameProvider" mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let e">{{e.nameProvider}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-sort-header="categoryContract" mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element"> {{element.categoryContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <a mat-icon-button color="primary" [matTooltip]="'Ver Planillas'" matTooltipPosition="right"
             [routerLink]="['/forms/provider/'+ele.idProvider+'/contract/' + ele.idContract]">
            <mat-icon>view_quilt</mat-icon>
          </a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
