form {
  font-size: 12px !important;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: -10px;
}

.content-table {
  position: relative;
  width: 100%;
  max-height: 60vh;
  overflow: auto;
  left: -24px;
  padding: 0 24px;
}

table {
  box-shadow: none;
  width: 100%;
}

.not-title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  font-family: sans-serif;
}
