table {
  width: calc(100% - 1px);
}

table thead {
  background-color: white;
}

th {
  color: black;
}

.mat-tab-body-content {
  height: 697px;
  overflow: auto !important;
}

mat-tab-body {
  padding: 0 !important;
  height: 500px;
}
