<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Solicitudes'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="orders">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="dateOrder" *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOrder|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="nOrder">
        <th mat-header-cell mat-sort-header="numberPeriodOrder" *matHeaderCellDef>N&deg; Pedido</th>
        <td mat-cell *matCellDef="let element"> {{element.numberPeriodOrder}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header="nameProject" *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef style="width: 80px">Estado</th>
        <td mat-cell *matCellDef="let ele; let k = index">
          {{ele.stateText}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="isDisabled()||petitionDisabled(ele)" mat-icon-button color="primary"
                  (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()||petitionDisabled(ele)" mat-icon-button color="warn"
                  (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
          <button [matMenuTriggerFor]="menu" mat-icon-button color="primary" (click)="select(ele)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item [disabled]="isDisabledP()" [routerLink]="'/order/petition/' + orderSelect.idOrder">
    <span>Material Solicitud</span>
  </button>
  <button mat-menu-item [disabled]="!isDisabledPetition()" (click)="update(2, 'Cotizando')">
    <span>Terminar Solicitud</span>
  </button>
  <button mat-menu-item [disabled]="isDisabledTr()" [routerLink]="'/order/petition/buys/' + orderSelect.idOrder">
    <span>Seguimiento</span>
  </button>
  <button mat-menu-item [disabled]="isEnd()" (click)="update(7, 'COMPRA CONCLUIDA')">
    <span>Concluir Compra</span>
  </button>
  <button mat-menu-item [disabled]="isReasume()" (click)="update(4, 'COMPRANDO')">
    <span>Reanudar Compra</span>
  </button>
</mat-menu>
