<div class="content-process" [ngClass]="selectClass">
  <div class="content-form hidden" [ngClass]="visibleSelect()">
    <app-transit-select (accept)="setTransit($event)" (cancel)="closeDialog()"></app-transit-select>
  </div>
  <div class="content-form hidden" [ngClass]="visibleForm()">
    <app-transit-for-amortizacion-select *ngIf="idTransit" [idTransit]="idTransit" [transactionSelect]="data" (cancel)="closeDialog()"
                                         (back)="backToSelect()" (formSelect)="setFormSelect($event)"></app-transit-for-amortizacion-select>
  </div>
  <div class="content-form hidden" [ngClass]="visibleNew()">
    <app-transit-form-amortizacion *ngIf="formSelect" [data]="data" [transactionSelect]="formSelect"
                                   (cancel)="closeDialog()" (clickAccept)="accept($event)" [trasit]="transitSelect"
                                   (back)="backToForm()"></app-transit-form-amortizacion>
  </div>
</div>
