.content-form {
  display: inline-block;
  margin: 0px;
  /*min-width: 400px;*/
  /*min-height: 300px;*/
}

/*.content-process {*/
/*width: max-content;*/
/*}*/

.content-form.content-table {
  overflow: auto;
  max-height: inherit;
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}
