<h3 mat-dialog-title>Codigo Proyecto</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field (click)="st.open()">
      <input matInput [matDatepicker]="st" placeholder="Fecha" readonly
             required [(ngModel)]="form.dateOrder" name="dateLetter">
      <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
      <mat-datepicker #st></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="N&#176; Pedido" required [(ngModel)]="form.numberPeriodOrder"
             name="numberPeriodOrder">
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="Proyecto"
                  [(ngModel)]="form.idProject" name="idProject">
        <!--        <mat-option value="null">{{'Sin Proyecto'}}</mat-option>-->
        <mat-option *ngFor="let p of projects" [value]="p.idProject">
          {{p.nameProject}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
