<app-oriana-table-toolbar
  [title]="''"
  [onBack]="false"
  [onSearch]="false"
  [onMore]="false"
  [onNew]="!isDisabled()"
  (new)="create()"
  (refresh)="load()"
  (print)="printReport()">
</app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="items">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell mat-sort-header="materialItem" *matHeaderCellDef>Material</th>
        <td mat-cell *matCellDef="let element"> {{element.materialItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell mat-sort-header="unityItem" *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element"> {{element.unityItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header="priceUnityItem" *matHeaderCellDef>P/U</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.priceUnityItem|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell mat-sort-header="updated" *matHeaderCellDef>Actualizado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.updated_at|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>

      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
