<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Equipos'"
                          [onMore]="false"
                          [onNew]="false"
                          [onPrint]="false"
                          [onSearch]="false"
                          [onProgress]="progress"
                          [onSave]="onSave"
                          (save)="save()"
                          (refresh)="load()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table [dataSource]="viewOwnerEquipmentWork">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Tiempo</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.timeMonth" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element">{{equipment.unityCost}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.priceHour" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Monto<br>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.totalAmount|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.total|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let el">
          <input [disabled]="isDisabled()" type="number" (focus)="open(el)" [(ngModel)]="el.anticipationMonth">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell *matHeaderCellDef>Liquido <br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPayableMonth|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.advance|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
