<h3 mat-dialog-title>Egreso Caja Chica</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="accept()">
    <span>EL ARCHIVO QUE USTED VA SUBIR DEBE SER CON EXTENSION XLXS O XLS.</span>
    <mat-form-field>
      <ngx-mat-file-input #removableInput [placeholder]="text.file" [(ngModel)]="file" [accept]="'.xls,.xlsx'" name="file"></ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
