<div class="dashboard">
  <div class="dashboardContent">
    <app-oriana-toolbar [title]="title"></app-oriana-toolbar>
    <div class="cta">
      <div class="content">
        <!--        <mat-grid-list cols="2" rowHeight="2:1">-->
        <!--          <mat-grid-tile>1</mat-grid-tile>-->
        <!--          <mat-grid-tile> <ngx-chartjs [data]="data" type="bar"></ngx-chartjs></mat-grid-tile>-->
        <!--          <mat-grid-tile>3</mat-grid-tile>-->
        <!--          <mat-grid-tile>4</mat-grid-tile>-->
        <!--        </mat-grid-list>-->
        <mat-card class="example-card" matRipple *ngFor="let r of userRoutesService.routes" [routerLink]="r.link"
                  (click)="isModule(r.name)">
          <mat-card-content>
            <img class="icon" [src]="r.img" width="100" alt="img">
            <mat-card-title>{{r.name}}</mat-card-title>
          </mat-card-content>
        </mat-card>


      </div>
    </div>
  </div>
</div>
