.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.dashboard {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f3f3f3;
}

.example-card {
  width: 20%;
  margin: 25px 10px 0 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  /*width: 300px;*/
  height: 20px;
  /*line-height: 300px;*/

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.example-card mat-card-content {
  display: flex;
}

mat-card-content mat-card-title {
  font-size: 15px;
  margin: 1px 0;
}

.dashboardContent {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.cta {
  position: relative;
  width: 100%;
  height: calc(100% - 90px);
  top: 0;
  left: 0;
  overflow: hidden auto;
}

.cta .content {
  position: relative;
  margin: auto;
  width: 80%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

mat-grid-tile {
  background: lightblue;
}

@media only screen and (min-width: 1400px) {
  .example-card {
    width: 13%;
    margin: 25px 8px 0 15px;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .cta .content {
    position: relative;
    margin: auto;
    width: 100%;
  }

  .example-card {
    width: 26%;
    margin: 25px 15px 0 15px;
    display: inline-block;
  }
}
