<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Planillas'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabledForm()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="permanentForms">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell mat-sort-header="periodicalPermanentForm" *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.periodicalPermanentForm}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mountTotal">
        <th mat-header-cell mat-sort-header="mountTotal" *matHeaderCellDef>Monto Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.mountTotal|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.total|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="anticipation">
        <th mat-header-cell mat-sort-header="advancePermanentForm" *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.advancePermanentForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquidPay">
        <th mat-header-cell mat-sort-header="liquidPermanentForm" *matHeaderCellDef>Liq. Pagable</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.liquidPermanentForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.liquid|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell mat-sort-header="mountPayAux" *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell mat-sort-header="balanceAux" *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled(ele)" [checked]="ele.statusPermanentForm==1"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="idDisabledPlan()" mat-icon-button color="primary" matTooltip="Planilla Consolidada"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/permanent/'+ ele.idPermanentForm ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <!--<button mat-icon-button color="warn" (click)="deleted(k)">-->
          <!--<mat-icon>delete</mat-icon>-->
          <!--</button>-->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
