<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Lineas de credito'"
                          [options]="options"
                          [onNew]="!isDisabled()"
                          [onProgress]="progress"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="financials">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="identity">
        <th mat-header-cell mat-sort-header="nameFinancial" *matHeaderCellDef>Identificador</th>
        <td mat-cell *matCellDef="let element"> {{element.nameFinancial}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="line">
        <th mat-header-cell mat-sort-header="amountLimitFinancial" *matHeaderCellDef style="min-width: 120px">Monto
          Linea
        </th>
        <td mat-cell class=number-cell *matCellDef="let element"> {{element.amountLimitFinancial|dataMoney}} </td>
        <td mat-footer-cell class=number-cell *matFooterCellDef>{{totals.amountLimitFinancial}}</td>
      </ng-container>
      <ng-container matColumnDef="useMount">
        <th mat-header-cell mat-sort-header="amountUsedFinancial" *matHeaderCellDef>Monto Utilizado</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountUsedFinancial|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totals.amountUsedFinancial|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="availableMount">
        <th mat-header-cell mat-sort-header="availableBalanceFinancial" *matHeaderCellDef>Monto Disponible</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.availableBalanceFinancial|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totals.availableBalanceFinancial|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [checked]="ele.stateFinancial=='vigente'"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledBtn(ele)" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabledBtn(ele)" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
