<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Caja Chica Oficina'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabledP()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="listBanks">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="account">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameAccountBank}}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceBank|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef> {{total|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [checked]="ele.activeBank==1"
                                      [disabled]="isDisabledP()"
                                      (changed)="setState(k, $event)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledO()" [routerLink]="['/accounts/pettyCashOffice/'+ele.idBank+'/periods']"
                  matTooltip="Periodos" mat-icon-button color="primary">
            <mat-icon>event_note</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="disabled(ele)" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" [disabled]="disabled(ele)" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
