<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd>
  <app-evetual-form-planer *ngIf="idForm" [height]="getHeight(dd)" [idEventualForm]="idForm" [idEventual]="idEventual"
                           (getForm)="setEventualForm($event)"></app-evetual-form-planer>
</div>
