<div class="content-process" [ngClass]="selectClass">
  <div class="content-form">
    <app-equipment-form-select *ngIf="!formSelect && transaction.idTransaction == null" (cancel)="closeDialog()"
                               (formSelect)="setFormSelect($event)"></app-equipment-form-select>
  </div>
  <div class="content-form">
    <app-equipment-form-advance *ngIf="formSelect || transaction.idTransaction != null" [formSelect]="formSelect"
                                [dataTransaction]="data" (back)="backForms()" (cancel)="closeDialog()"
                                (clickAccept)="accept()"></app-equipment-form-advance>
  </div>
</div>
