<h3 mat-dialog-title>Egreso Caja Chica</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="accept()">

    <mat-form-field class="col s50" style="margin-right: 20px;">
      <input matInput placeholder="N&deg; Recibo" required [(ngModel)]="transaction.nroReceiptPettyCashExpense"
             name="nroReceiptTransaction">
    </mat-form-field>
    <mat-form-field class="col s50"
                    (click)="since.open()">
      <input matInput [min]="period.datePeriod" [max]="endDate" [matDatepicker]="since" placeholder="Fecha" readonly
             required
             [(ngModel)]="transaction.datePettyCashExpense" name="dateTransaction">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="Proyecto" [(ngModel)]="transaction.idProject" name="idProject">
        <mat-option *ngFor="let project of projects" [value]="project.idProject">
          {{project.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="projects.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col s50" style="margin-left: 20px;"></div>
    <mat-form-field class="col s50">
      <input matInput type="number" placeholder="Monto" required [(ngModel)]="transaction.amountPettyCashExpense"
             name="amountTransaction">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalle" [maxLength]="300"
                [(ngModel)]="transaction.descriptionPettyCashExpense" name="descriptionTransaction"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
