<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd *ngIf="idForm">
  <app-permanente-form-consolidate [height]="getHeight(dd)" [idPermanentForm]="idForm"
                                   (getForm)="setForm($event)"></app-permanente-form-consolidate>
</div>
