<h3 mat-dialog-title>Equipo Propio</h3>
<div mat-dialog-content>
  <form autocomplete="off" [formGroup]="formData" (submit)="sendFormData()">
    <mat-form-field>
      <mat-label>C&oacute;digo</mat-label>
      <input matInput type="text" placeholder="Código" required formControlName="codeOwnerEquipment"
             name="salaryJornal">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" required formControlName="nameOwnerEquipment"
             name="nameOwnerEquipment">
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 15px">
      <mat-label>Costo</mat-label>
      <input matInput type="number" placeholder="Costo" required formControlName="costOwnerEquipment"
             name="costOwnerEquipment">
    </mat-form-field>
    <mat-form-field class="col s50">
      <mat-label>Unidad</mat-label>
      <mat-select placeholder="Unidad" formControlName="unityCost" >
        <mat-option *ngFor="let u of unity" [value]="u">
          {{u}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile matInput formControlName="fileOwnerEquipment" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
