<div mat-dialog-content style="padding:0 !important;">
  <app-oriana-table-toolbar *ngIf="titulo"
                            [onBack]="false"
                            [title]="titulo"
                            [onPrint]="false"
                            [onMore]="false"
                            [onFilter]="false"
                            [onSave]="false"
                            [onRefresh]="false"
                            [searchTittle]="'Buscar '"
                            [onProgress]="progress"
                            [onNew]="false"
                            (searching)="search($event)"></app-oriana-table-toolbar>
  <form autocomplete="off" (submit)="accept()">
    <div class="content-table">
      <table mat-table [dataSource]="invoices">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          [disabled]="total >= checkSelect.mountCheck && !selection.isSelected(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell class="position" *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="nameInvoice">
          <th mat-header-cell *matHeaderCellDef>Nombre Factura</th>
          <td mat-cell *matCellDef="let element"> {{element.nameInvoice}} </td>
        </ng-container>
        <ng-container matColumnDef="numberInvoice">
          <th mat-header-cell *matHeaderCellDef>Numero</th>
          <td mat-cell *matCellDef="let element"> {{element.numberInvoice}} </td>
        </ng-container>
        <ng-container matColumnDef="codeControlInvoice">
          <th mat-header-cell *matHeaderCellDef>Cod. Control</th>
          <td mat-cell *matCellDef="let element"> {{element.codeControlInvoice}} </td>
        </ng-container>
        <ng-container matColumnDef="amountTotalInvoice">
          <th mat-header-cell *matHeaderCellDef>Monto Total</th>
          <td mat-cell *matCellDef="let element" class="number-cell">
            {{element.amountTotalInvoice|dataMoney}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>Proyecto</th>
          <td mat-cell *matCellDef="let element">
            <select [(ngModel)]="element.idProject" [name]="'project' + element.idInvoice">
              <option *ngFor="let p of projects" [value]="p.idProject">{{p.nameProject}}</option>
            </select>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
    <div mat-dialog-actions>
      <p>{{totalSelect()|dataMoney}}</p>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
