<table mat-table matSort [dataSource]="payParts">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> N&deg;</th>
    <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
    <td mat-footer-cell *matFooterCellDef>total</td>
  </ng-container>
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef>Proyecto</th>
    <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell class="date-cell" *matCellDef="let element"> {{element.dateTransaction|dateOriana}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="receipt">
    <th mat-header-cell *matHeaderCellDef>N°Recibo</th>
    <td mat-cell *matCellDef="let element"> {{element.nroReceiptTransaction}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef>Cuenta</th>
    <td mat-cell *matCellDef="let element"> {{element.nameAccountTransaction}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="mount">
    <th mat-sort-header="liquidPayableForm" mat-header-cell *matHeaderCellDef>Monto</th>
    <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountTransaction|dataMoney}} </td>
    <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef>Saldo</th>
    <td mat-cell class="number-cell" *matCellDef="let element"> {{projectFormSelect.balanceAux|dataMoney}} </td>
    <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Opciones</th>
    <td mat-cell *matCellDef="let ele ;let k = index">
      <button mat-icon-button color="warn" (click)="deleted(k)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>
