<div class="login-content">
  <!--<div class="background"></div>-->
  <div class="content-card-login">
    <!--<img src="/assets/images/oriana-logo.png" class="icon" alt="100">-->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!--<img src="/assets/images/oriana-logo5.jpg" class="brand-logo" width="270" style="margin: 15px;">-->
        <span>{{title}}</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
      <!--<mat-toolbar-row>-->
      <!--<span>Third Line</span>-->
      <!--<span class="example-spacer"></span>-->
      <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
      <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->
      <!--</mat-toolbar-row>-->
    </mat-toolbar>
    <div class="color-space primary"></div>
    <!--<app-oriana-toolbar [title]="title"></app-oriana-toolbar>-->

    <mat-card class="card mat-elevation-z4">
      <mat-progress-bar *ngIf="visible" mode="indeterminate"></mat-progress-bar>
      <div *ngIf="visible" class="loginOverlay"></div>
      <form autocomplete="off" (submit)="onSubmit()" [formGroup]="f">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>Iniciar Sesion</mat-card-title>
          </mat-card-header>
          <div mat-card-image>
            <img src="/assets/images/userImg.png" alt="Icon oriana login">
          </div>
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input formControlName="username" required matInput placeholder="Usuario" [type]="'text'">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" required matInput placeholder="Contrase&ntilde;a"
                   [type]="hide ? 'password' : 'text'">
            <button type="button" mat-ripple tabindex="-1" class="button-hide" matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <span class="oriana-toolbar-spacer"></span>
          <button type="submit" [disabled]="isValid()" mat-raised-button color="primary">Ingresar</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
