.oriana-toolbar-icon {
  padding: 0 14px;
}

.oriana-toolbar-spacer {
  flex: 1 1 auto;
}

.login-content {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #f1f1f1;
}

img.icon {
  width: 200px;
  position: fixed;
  left: 20px;
  top: 20px
}

.content-card-login {
  position: relative;
  width: 100%;
  height: 100%;
}

.color-space {
  width: 100%;
  height: 40%;
  background-color: #002269;
}
.card {
  position: relative;
  margin: auto;
  top: calc(10% - 300px);
  width: 290px;
  /*box-shadow: 0 0 8px 0 white;*/
  overflow: hidden;
}

.mat-card-image {
  position: relative;
  text-align: center;
}

.mat-card-image img {
  position: relative;
  width: 130px;
  margin: 10px auto;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.mat-progress-bar-buffer {
  background-color: #ee99144d !important;
}

.mat-progress-bar-background {
  fill: #ee99144d !important;
}

.mat-progress-bar-fill::after {
  background-color: #ee9914 !important;
}

.button-hide {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  display: block;
  margin-bottom: 0;
}

mat-card-actions button {
  margin: 0 8px;
  left: 190px;
  top: 10px;
}

.loginOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000040;
  z-index: 9;
}
