<h3 mat-dialog-title>{{data_.type == 'reNew' ? 'Renovar' : ''}} Garantia</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field>
      <mat-select [disabled]="isDisabledInputs()" required placeholder="Linea de Credito"
                  (valueChange)="asignFinancial($event)" [(ngModel)]="form.idFinancial"
                  name="idFinancial">
        <mat-option *ngFor="let f of financials" [value]="f.idFinancial">
          {{f.nameFinancial}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [disabled]="isDisabledInputs()" required placeholder="Tipo" [(ngModel)]="form.typeTicket"
                  name="typeTicket">
        <mat-option *ngFor="let t of types" [value]="t.value">
          {{t.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.typeTicket != 'SP'">
      <mat-select [disabled]="isDisabledInputs()" required placeholder="Proyecto" [(ngModel)]="form.idProject"
                  name="idProject">
        <mat-option *ngFor="let p of projects" [value]="p.idProject">
          {{p.nameProject}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 66%; margin-right: 10px" (click)="st.open()">
      <input matInput [matDatepicker]="st" placeholder="Fecha Inicio" readonly
             required [(ngModel)]="form.startDateTicket" name="startDateTicket">
      <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
      <mat-datepicker #st></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 30%;">
      <input matInput type="time" placeholder="Hora" required [(ngModel)]="initTime" name="exportTime">
    </mat-form-field>
    <mat-form-field style="width: 66%; margin-right: 10px;" (click)="en.open()">
      <input matInput [matDatepicker]="en" placeholder="Fecha Final" readonly
             required [(ngModel)]="form.endDateTicket" name="endDateTicket">
      <mat-datepicker-toggle matSuffix [for]="en"></mat-datepicker-toggle>
      <mat-datepicker #en></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 30%;">
      <input matInput type="time" placeholder="Hora" required [(ngModel)]="endTime" name="exportTime">
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput [disabled]="isDisabledInputs()" type="number" placeholder="Monto Linea" required
             [(ngModel)]="form.amountWarrantyTicket" name="amountWarrantyTicket">
      <mat-hint align="end">{{getAmountAvailable()|dataMoney}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput type="text" placeholder="Estado" required [value]="form.stateTicket" readonly disabled>
    </mat-form-field>
    <mat-form-field>
      <ngx-mat-file-input #removableInput [placeholder]="text.file" [(ngModel)]="file" name="file"></ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
