
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: relative;
  margin: auto;
  background: white;
  color: #2b2b2b;
  z-index: 999;
  font-size: 15px;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.button-search {
  display: none;
}

.search {
  display: block;
}

@media screen and (max-width: 1024px) {
  .button-search {
    display: block;
  }

  .search {
    display: none;
  }
}

mat-progress-bar {
  position: fixed;
  z-index: 9999;
}
