<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <app-oriana-back-button></app-oriana-back-button>
    <span *ngIf="title">{{title}}</span>
    <span class="example-spacer"></span>
    <button class="button-search" matTooltip="Buscar" mat-icon-button (click)="setSearchVisible()">
      <mat-icon>search</mat-icon>
    </button>
    <div class="search" style="font-size: 12px !important;top: 8px; position: relative;">
      <form (ngSubmit)="search()">
        <mat-form-field appearance="outline">
          <span matPrefix><mat-icon>search</mat-icon></span>
          <mat-label class="font-sub-tittle">{{searchTittle}}</mat-label>
          <input matInput type="text" [placeholder]="searchTittle" [(ngModel)]="value" name="value">
          <button type="reset" mat-button [ngStyle]="{'visibility':isVisible()}" matSuffix mat-icon-button
                  aria-label="Clear" (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <button *ngIf="onNew&&isTypeTransaction()" matTooltip="Nuevo" mat-icon-button [matMenuTriggerFor]="menuIncome">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="onNew&&!isTypeTransaction()" matTooltip="Nuevo" mat-icon-button [matMenuTriggerFor]="menuExpense">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refrescar" (click)="clickRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="onProgress" mode="indeterminate"></mat-progress-bar>
<mat-menu #menuIncome="matMenu" xPosition="before">
  <span mat-menu-item disabled><span>Ingreso</span></span>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngFor="let option of income" (click)="clickNew(option.url)">
    <span>{{option.option}}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="MenuTransitIncome"><span>Transito</span></button>
</mat-menu>
<mat-menu #menuExpense="matMenu" xPosition="after">
  <span mat-menu-item disabled><span>Egreso</span></span>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="clickNew(direct.url)"><span>{{direct.option}}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="MenuProvider"><span>{{menuProvider.option}}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="MenuPermanent"><span>{{menuPermanent.option}}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="MenuEventual"><span>{{menuEventual.option}}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="MenuEquipment"><span>{{menuEquipment.option}}</span></button>
  <button mat-menu-item (click)="clickNew(company.url)"><span>{{company.option}}</span></button>
  <button mat-menu-item (click)="clickNew(transfer.url)"><span>{{transfer.option}}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="MenuTransitExpense"><span>{{menuTransit.option}}</span></button>
</mat-menu>
<mat-menu #MenuProvider="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of provider" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>
<mat-menu #MenuPermanent="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of permanent" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>
<mat-menu #MenuEventual="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of eventual" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>
<mat-menu #MenuEquipment="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of equipment" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>
<mat-menu #MenuTransitExpense="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of transitExpense" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>
<mat-menu #MenuTransitIncome="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let m of transitIncome" (click)="clickNew(m.url)"><span>{{m.option}}</span></button>
</mat-menu>

