<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubTitle()"></app-oriana-toolbar>
<div class="container">
  <app-petty-cash-transactions [idPettyCash]="idBank" [idPeriod]="idPeriod" (data)="updateData($event)"></app-petty-cash-transactions>
</div>
