<h3 mat-dialog-title>Permanente</h3>
<div mat-dialog-content>
  <form autocomplete="off" [formGroup]="formData" (submit)="sendFormData()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" required formControlName="namePermanent" name="namePermanent">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Salario</mat-label>
      <input matInput type="number" placeholder="Salario" required formControlName="salaryPermanent"
             name="salaryPermanent">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile matInput formControlName="filePermanent" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
