<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Items'"
                          [onMore]="false"
                          [onPrint]="false"
                          [onNew]="false"
                          [onSave]="onSave"
                          [onSearch]="false"
                          (refresh)="load()"
                          (save)="save()">
</app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element">{{element.item_unity}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="pu">
        <th mat-header-cell *matHeaderCellDef>P/U</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.item_price|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="quality">
        <th mat-header-cell *matHeaderCellDef>C.Actual</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.item_actualQuantity" (focus)="selectItem(element)"
                 (keyup)="processItem()">
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-header-cell *matHeaderCellDef>M. Actual</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.item_actualAmount|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.actual_amount|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
