<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Proyectos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onPrint]="false"
                          (new)="create()"
                          [onNew]="!isDisabled()"
                          (refresh)="load()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="viewAccountProject">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="income">
        <th mat-header-cell *matHeaderCellDef>Ingreso</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.income|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="expense">
        <th mat-header-cell *matHeaderCellDef>Egreso</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.expense|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 100px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [checked]="ele.activeProjectAccount==1"
                                      (changed)="setStateProject($event, ele)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>view_headline</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
