
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: relative;
  margin: auto;
  background: white;
  color: #2b2b2b;
  z-index: 999;
  font-size: 15px;
}

.table-container {
  height: calc(100% - 207px);
}
