<app-oriana-table-toolbar
  [title]="''"
  [onBack]="true"
  [onSearch]="false"
  [onMore]="false"
  [routeBack]="routerBack"
  [onNew]="!isDisabled()"
  [onPrint]="false"
  (new)="create()"
  (load)="load()">
</app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef>total</td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element"> {{element.item_unity}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>P/U</th>
        <td mat-cell *matCellDef="let element"> {{element.item_price}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>

      <ng-container matColumnDef="op">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
