<app-oriana-table-toolbar [routeBack]="getRouterBack()"
                          [title]="titulo"
                          [searchTittle]="'Buscar Periodos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table [dataSource]="periods">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.bankPeriod}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-header-cell *matHeaderCellDef>Monto Periodo</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.mount_period|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalPeriod()|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [checked]="ele.stateBankPeriod==1"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledCT()" mat-icon-button color="primary" [matTooltip]="getTooltipText()"
                  matTooltipPosition="right"
                  [routerLink]="getRoutePettyCashOrBank(ele)">
            <mat-icon>web</mat-icon>
          </button>
          <button mat-icon-button color="warn" [disabled]="isDisabled() || isDisabledCT() || isDisabledP(ele)"
                  (click)="deleted(ele)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
