<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Planillas'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabledNew()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="ownerEquipmentForms">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell mat-sort-header="periodOwnerEquipmentForm" *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.periodOwnerEquipmentForm}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mountTotal">
        <th mat-header-cell mat-sort-header="totalAmount" *matHeaderCellDef>Monto Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.totalAmount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.total|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="anticipation">
        <th mat-header-cell mat-sort-header="anticipationOwnerEquipmentForm" *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.anticipationOwnerEquipmentForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquidPay">
        <th mat-header-cell mat-sort-header="liquidPayableOwnerEquipmentForm" *matHeaderCellDef>Liq. Pagable</th>
        <td mat-cell class="number-cell"
            *matCellDef="let element"> {{element.liquidPayableOwnerEquipmentForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.liquid|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell mat-sort-header="mountPayAux" *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell mat-sort-header="balanceAux" *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled(ele)" [checked]="ele.activeOwnerEquipmentForm==1"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledPlan()" mat-icon-button color="primary" matTooltip="Planilla Consolidada"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/equipment/'+ ele.idOwnerEquipmentForm ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
