<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd *ngIf="idBank">
  <app-bank-period [idBank]="idBank" (bank)="setBank($event)" [isbankPeriod]="false"></app-bank-period>
</div>
