<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [onMore]="false"
                          [onPrint]="false"
                          [onNew]="false"
                          [onSave]="onSave"
                          [onProgress]="progress"
                          [onSearch]="false"
                          (refresh)="load()"
                          (save)="save()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table [dataSource]="viewPermanentWork">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef>Dias</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.days" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Mensual</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.salaryMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="basic">
        <th mat-header-cell *matHeaderCellDef>B&aacute;sico</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.basicMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.basicMount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef>Bono</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.bonus" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.bonus|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.discount" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.discount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.mountTotal|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.mountTotal|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advances">
        <th mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input [disabled]="isDisabled()" type="text" [(ngModel)]="element.advance" (focus)="open(element)" readonly>
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell *matHeaderCellDef>Liquido<br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPay|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.liquidPay|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
<button mat-icon-button (click)="openDescription()" [disabled]="isDisabled()" color="primary" class="float-button mat-elevation-z3"
        matTooltip="Descripcion" matTooltipPosition="left">
  <mat-icon>subject</mat-icon>
</button>
