<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>Seleccionar Transito</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form (submit)="sendFormData()">
    <mat-form-field>
      <mat-select required placeholder="Transito" [(ngModel)]="pos" name="idTransit">
        <mat-option *ngFor="let t of transit; let i = index" [value]="i">
          {{t.nameTransit}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="transit.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validClient()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
