<app-toolbar-transaction-petty-cash [title]="titulo"
                                    [onProgress]="progress"
                                    [onNew]="!newDisabled()"
                                    (searching)="search($event)"
                                    (refresh)="load()"
                                    (new)="setType($event)"></app-toolbar-transaction-petty-cash>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="transactions">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateTransaction" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element">{{element.datePettyCashExpense|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-sort-header="dateCheck" mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="respaldo">
        <th mat-sort-header="nroReceiptTransaction" mat-header-cell *matHeaderCellDef>N&deg; Respaldo</th>
        <td mat-cell *matCellDef="let element">{{element.nroReceiptPettyCashExpense}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-sort-header="descriptionTransaction" mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.descriptionPettyCashExpense}}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="import">
        <th mat-sort-header="amountTransaction" mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountPettyCashExpense|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{totalTranssactions()|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
