<app-oriana-table-toolbar [onBack]="true"
                          [onSave]="saved"
                          [onNew]="false"
                          [onMore]="false"
                          [onFilter]="false"
                          [onRefresh]="true"
                          [onSearch]="false"
                          [onPrint]="false"
                          [routeBack]="'/users'"
                          [title]="' '"
                          [onProgress]="progress"
                          (save)="savePermission()"
                          (refresh)="load()"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <div class="expansion-content" *ngIf="userPermissions">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Personal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cliente</p>
              <app-oriana-checkbox [checked]="userPermissions.p_client" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_client = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proveedor</p>
              <app-oriana-checkbox [checked]="userPermissions.p_provider" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_provider = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Transito</p>
              <app-oriana-checkbox [checked]="userPermissions.p_transit" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_transit = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Permanente</p>
              <app-oriana-checkbox [checked]="userPermissions.p_permanent" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_permanent = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Eventual</p>
              <app-oriana-checkbox [checked]="userPermissions.p_eventual" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_eventual = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Otra Empresa</p>
              <app-oriana-checkbox [checked]="userPermissions.p_otherCompany" [textTooltip]="tooltips"
                                   (changed)="userPermissions.p_otherCompany = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Equipo Propio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Equipo Propio</p>
              <app-oriana-checkbox [checked]="userPermissions.o_ownerEquipment" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_ownerEquipment = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Proyectos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proyectos</p>
              <app-oriana-checkbox [checked]="userPermissions.pj_project" [textTooltip]="tooltips"
                                   (changed)="userPermissions.pj_project = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Seguimiento</p>
              <app-oriana-checkbox [checked]="userPermissions.pj_tracing" [textTooltip]="tooltips"
                                   (changed)="userPermissions.pj_tracing = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Modificaciones</p>
              <app-oriana-checkbox [checked]="userPermissions.pj_modifications" [textTooltip]="tooltips"
                                   (changed)="userPermissions.pj_modifications = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Planillas</p>
              <app-oriana-checkbox [checked]="userPermissions.pj_forms" [textTooltip]="tooltips"
                                   (changed)="userPermissions.pj_forms = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Contratos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Contratos</p>
              <app-oriana-checkbox [checked]="userPermissions.contracts" [textTooltip]="tooltips"
                                   (changed)="userPermissions.contracts = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Items Contratos</p>
              <app-oriana-checkbox [checked]="userPermissions.contracts_item" [textTooltip]="tooltips"
                                   (changed)="userPermissions.contracts_item = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Planillas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proveedor</p>
              <app-oriana-checkbox [checked]="userPermissions.f_provider" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_provider = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proveedor Planillas</p>
              <app-oriana-checkbox [checked]="userPermissions.f_provider_plan" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_provider_plan = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Permanente</p>
              <app-oriana-checkbox [checked]="userPermissions.f_permanent" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_permanent = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Permanente Planillar</p>
              <app-oriana-checkbox [checked]="userPermissions.f_permanent_plan" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_permanent_plan = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Eventual</p>
              <app-oriana-checkbox [checked]="userPermissions.f_eventual" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_eventual = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Eventual Planillar</p>
              <app-oriana-checkbox [checked]="userPermissions.f_eventual_plan" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_eventual_plan = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Equipo Propio</p>
              <app-oriana-checkbox [checked]="userPermissions.f_ownerEquipment" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_ownerEquipment = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Equipo Propio Planillar</p>
              <app-oriana-checkbox [checked]="userPermissions.f_ownerEquipment_plan" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_ownerEquipment_plan = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proyectos</p>
              <app-oriana-checkbox [checked]="userPermissions.f_projects" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_projects = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Cuentas y Caja Chica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Bancos</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_b_banks" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_b_banks = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Bancos Periodos</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_b_periods" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_b_periods = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Bancos Transacciones</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_b_transactions" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_b_transactions = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cheques</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_check" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_check = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pt_pettyCash" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pt_pettyCash = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica Periodos</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pt_periods" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pt_periods = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica Transacciones</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pt_transactions" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pt_transactions = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica Oficina</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pto_pettyCashOffice" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pto_pettyCashOffice = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica Oficina Periodos</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pto_period" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pto_period = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Caja Chica Oficina Transacciones</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pto_transaction" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pto_transaction = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proyectos</p>
              <app-oriana-checkbox [checked]="userPermissions.ac_pj_projects" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ac_pj_projects = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Garantias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Financieras</p>
              <app-oriana-checkbox [checked]="userPermissions.ti_financial" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ti_financial = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Garantias</p>
              <app-oriana-checkbox [checked]="userPermissions.ti_warranties" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ti_warranties = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proyectos</p>
              <app-oriana-checkbox [checked]="userPermissions.ti_projects" [textTooltip]="tooltips"
                                   (changed)="userPermissions.ti_projects = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Cartas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cartas Enviadas</p>
              <app-oriana-checkbox [checked]="userPermissions.l_s_Letters" [textTooltip]="tooltips"
                                   (changed)="userPermissions.l_s_Letters = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cartas Enviadas Segumiento</p>
              <app-oriana-checkbox [checked]="userPermissions.l_ss_Letters" [textTooltip]="tooltips"
                                   (changed)="userPermissions.l_ss_Letters = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cartas Recibidas</p>
              <app-oriana-checkbox [checked]="userPermissions.l_r_Letters" [textTooltip]="tooltips"
                                   (changed)="userPermissions.l_r_Letters = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cartas Recibidas Seguimiento</p>
              <app-oriana-checkbox [checked]="userPermissions.l_rs_Letters" [textTooltip]="tooltips"
                                   (changed)="userPermissions.l_rs_Letters = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Proyectos</p>
              <app-oriana-checkbox [checked]="userPermissions.l_p_Letters" [textTooltip]="tooltips"
                                   (changed)="userPermissions.l_p_Letters = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Pedidos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Solicitud</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_p" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_p = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Solicitud Materiales</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_p_item" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_p_item = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Solicitud Seguimiento</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_t" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_t = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cotizacion</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_q" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_q = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cotizacion Materiales</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_q_item" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_q_item = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Materiales</p>
              <app-oriana-checkbox [checked]="userPermissions.o_order_item" [textTooltip]="tooltips"
                                   (changed)="userPermissions.o_order_item = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Facturas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Periodo</p>
              <app-oriana-checkbox [checked]="userPermissions.f_fac_period" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_fac_period = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Cheques</p>
              <app-oriana-checkbox [checked]="userPermissions.f_fac_check" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_fac_check = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Facturas</p>
              <app-oriana-checkbox [checked]="userPermissions.f_fac_invoice" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_fac_invoice = $event"></app-oriana-checkbox>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Rendir Facturas</p>
              <app-oriana-checkbox [checked]="userPermissions.f_fac_render" [textTooltip]="tooltips"
                                   (changed)="userPermissions.f_fac_render = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Usuarios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item><p class="module">Usuarios</p>
              <app-oriana-checkbox [checked]="userPermissions.u_users" [textTooltip]="tooltips"
                                   (changed)="userPermissions.u_users = $event"></app-oriana-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

