.expansion-content {
  margin: auto;
  position: relative;
  width: 450px;
}

.table-container {
  height: calc(100% - 160px);
}

.mat-card-header .mat-card-title {
  font-size: 18px;
}

.module {
  width: 380px;
  font-size: 13px;
}

.example-card {
  margin-bottom: 25px;
}
