form {
  font-size: 12px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 52px;
}
mat-toolbar {
  width: 100% !important;
  padding: 0 !important;
  height: 52px;
}

mat-toolbar-row {
  height: inherit;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
  padding: 24px !important;
  margin: 0 !important;
  width: 400px;
}

.mat-dialog-actions {
  margin: 0px !important;
  padding: 0;
  min-height: 36px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  top: 0;
  left: 0;
}

.col.s50 {
  width: 47%;
  display: inline-block;
}
