<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Pagar Planilla
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form autocomplete="off" *ngIf="dataTransaction" enctype="multipart/form-data" (submit)="accept()">

    <mat-form-field class="col s50" style="margin-right: 20px;">
      <input matInput placeholder="N&deg; Recibo" [disabled]="true" readonly required [value]="check.numberCheck"
             name="nroReceiptTransaction">
    </mat-form-field>
    <mat-form-field class="col s50"
                    (click)="since.open()">
      <input matInput [min]="period.bankPeriod" [max]="endDate" [matDatepicker]="since" placeholder="Fecha" readonly
             required
             [(ngModel)]="transaction.dateTransaction" name="dateTransaction">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [disabled]="true" placeholder="Proyecto" readonly required [value]="project.nameProject"
             name="nameProject">
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 20px">
      <input matInput type="text" [disabled]="true" placeholder="Cuenta" readonly required [value]="bank.nameAccountBank"
             name="nameProject">
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput type="number" [disabled]="true" placeholder="Monto" readonly required [value]="check.mountCheck"
             name="nameProject">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalle" [maxLength]="300"
                [(ngModel)]="transaction.descriptionTransaction" name="descriptionTransaction"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
