<!--<mat-accordion class="example-headers-align">-->
<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>-->
<!--Proveedor-->
<!--</mat-panel-title>-->
<!--<mat-panel-description>-->
<!--seleccionar proveedor-->
<!--</mat-panel-description>-->
<!--</mat-expansion-panel-header>-->
<!--<form (ngSubmit)="search(input.value)">-->
<!--<mat-form-field appearance="outline">-->
<!--<mat-label>Buscar Personal</mat-label>-->
<!--<input matInput placeholder="Buscar Personal" (click)="backUp()" #input>-->
<!--<button type="submit" mat-icon-button matSuffix><mat-icon>search</mat-icon></button>-->
<!--</mat-form-field>-->
<!--</form>-->
<!--<p>Proveedores</p>-->
<table mat-table [dataSource]="providers">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                    color="primary">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    color="primary">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="position">
    <th mat-header-cell class="position" *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Proveedor</th>
    <td mat-cell *matCellDef="let element"> {{element.nameProvider}} </td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell class="position" *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let element">
      <app-oriana-checkbox [disabled]="disabled" [checked]="element.activeProvider"></app-oriana-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
<!--</mat-expansion-panel>-->
<!--</mat-accordion>-->

<!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>-->
<!--Destination-->
<!--</mat-panel-title>-->
<!--<mat-panel-description>-->
<!--Type the country name-->
<!--<mat-icon>map</mat-icon>-->
<!--</mat-panel-description>-->
<!--</mat-expansion-panel-header>-->

<!--<mat-form-field>-->
<!--<input matInput placeholder="Country">-->
<!--</mat-form-field>-->

<!--<mat-action-row>-->
<!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
<!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
<!--</mat-action-row>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>-->
<!--Day of the trip-->
<!--</mat-panel-title>-->
<!--<mat-panel-description>-->
<!--Inform the date you wish to travel-->
<!--<mat-icon>date_range</mat-icon>-->
<!--</mat-panel-description>-->
<!--</mat-expansion-panel-header>-->

<!--<mat-form-field>-->
<!--<input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>-->
<!--</mat-form-field>-->
<!--<mat-datepicker #picker></mat-datepicker>-->

<!--<mat-action-row>-->
<!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
<!--<button mat-button color="primary" (click)="nextStep()">End</button>-->
<!--</mat-action-row>-->
<!--</mat-expansion-panel>-->

<!--</mat-accordion>-->

<!--<p>Clientes</p>-->
<!--<table mat-table [dataSource]="clients">-->
<!--<ng-container matColumnDef="select">-->
<!--<th mat-header-cell class="withe text-black" *matHeaderCellDef>-->
<!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--[checked]="selection.hasValue() && isAllSelected()"-->
<!--[indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--[aria-label]="checkboxLabel()"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</th>-->
<!--<td mat-cell *matCellDef="let row">-->
<!--<mat-checkbox (click)="$event.stopPropagation()"-->
<!--(change)="$event ? selection.toggle(row) : null"-->
<!--[checked]="selection.isSelected(row)"-->
<!--[aria-label]="checkboxLabel(row)"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell  class="withe text-black position" *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i+1}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell  class="withe text-black" *matHeaderCellDef>Cliente</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.nameClient}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="state">-->
<!--<th mat-header-cell class="position" *matHeaderCellDef>Estado</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<app-oriana-checkbox [disabled]="disabled" [checked]="element.activeClient"></app-oriana-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
<!--(click)="selection.toggle(row)">-->
<!--</tr>-->
<!--</table>-->
<!--<p>Eventual</p>-->
<!--<table mat-table [dataSource]="eventuals">-->
<!--<ng-container matColumnDef="select">-->
<!--<th mat-header-cell class="withe text-black" *matHeaderCellDef>-->
<!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--[checked]="selection.hasValue() && isAllSelected()"-->
<!--[indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--[aria-label]="checkboxLabel()"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</th>-->
<!--<td mat-cell *matCellDef="let row">-->
<!--<mat-checkbox (click)="$event.stopPropagation()"-->
<!--(change)="$event ? selection.toggle(row) : null"-->
<!--[checked]="selection.isSelected(row)"-->
<!--[aria-label]="checkboxLabel(row)"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell  class="withe text-black position" *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i+1}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell  class="withe text-black" *matHeaderCellDef>Eventual</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.nameEventual}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="state">-->
<!--<th mat-header-cell class="position" *matHeaderCellDef>Estado</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<app-oriana-checkbox [disabled]="disabled" [checked]="element.activeEventual"></app-oriana-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
<!--(click)="selection.toggle(row)">-->
<!--</tr>-->
<!--</table>-->
<!--<p>Permanente</p>-->
<!--<table mat-table [dataSource]="permanents">-->
<!--<ng-container matColumnDef="select">-->
<!--<th mat-header-cell class="withe text-black " *matHeaderCellDef>-->
<!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--[checked]="selection.hasValue() && isAllSelected()"-->
<!--[indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--[aria-label]="checkboxLabel()"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</th>-->
<!--<td mat-cell *matCellDef="let row">-->
<!--<mat-checkbox (click)="$event.stopPropagation()"-->
<!--(change)="$event ? selection.toggle(row) : null"-->
<!--[checked]="selection.isSelected(row)"-->
<!--[aria-label]="checkboxLabel(row)"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell  class="withe text-black position" *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i+1}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell  class="withe text-black" *matHeaderCellDef>Permanente</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.namePermanent}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="state">-->
<!--<th mat-header-cell class="position" *matHeaderCellDef>Estado</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<app-oriana-checkbox [disabled]="disabled" [checked]="element.activePermanent"></app-oriana-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
<!--(click)="selection.toggle(row)">-->
<!--</tr>-->
<!--</table>-->
<!--<p>Transito</p>-->
<!--<table mat-table [dataSource]="transit">-->
<!--<ng-container matColumnDef="select">-->
<!--<th mat-header-cell class="withe text-black" *matHeaderCellDef>-->
<!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--[checked]="selection.hasValue() && isAllSelected()"-->
<!--[indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--[aria-label]="checkboxLabel()"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</th>-->
<!--<td mat-cell *matCellDef="let row">-->
<!--<mat-checkbox (click)="$event.stopPropagation()"-->
<!--(change)="$event ? selection.toggle(row) : null"-->
<!--[checked]="selection.isSelected(row)"-->
<!--[aria-label]="checkboxLabel(row)"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell  class="withe text-black position" *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i+1}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell  class="withe text-black" *matHeaderCellDef>Transito</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.nameTransit}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="state">-->
<!--<th mat-header-cell class="position" *matHeaderCellDef>Estado</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<app-oriana-checkbox [disabled]="disabled" [checked]="element.activeTransit"></app-oriana-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
<!--(click)="selection.toggle(row)">-->
<!--</tr>-->
<!--</table>-->
<!--<p>Otra Empresa</p>-->
<!--<table mat-table [dataSource]="companies">-->
<!--<ng-container matColumnDef="select">-->
<!--<th mat-header-cell class="withe text-black" *matHeaderCellDef>-->
<!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--[checked]="selection.hasValue() && isAllSelected()"-->
<!--[indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--[aria-label]="checkboxLabel()"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</th>-->
<!--<td mat-cell *matCellDef="let row">-->
<!--<mat-checkbox (click)="$event.stopPropagation()"-->
<!--(change)="$event ? selection.toggle(row) : null"-->
<!--[checked]="selection.isSelected(row)"-->
<!--[aria-label]="checkboxLabel(row)"-->
<!--color="primary">-->
<!--</mat-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell  class="withe text-black position" *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i+1}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell  class="withe text-black" *matHeaderCellDef>Otra Empresa</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.nameAnotherCompany}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="state">-->
<!--<th mat-header-cell class="position" *matHeaderCellDef>Estado</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<app-oriana-checkbox [disabled]="disabled" [checked]="element.activeAnotherCompany"></app-oriana-checkbox>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
<!--(click)="selection.toggle(row)">-->
<!--</tr>-->
<!--</table>-->
