<h3 mat-dialog-title>Cliente</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="accept()" [formGroup]="formClient">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" required formControlName="nameClient" name="nameClient">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile matInput formControlName="fileClient" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="!formClient.valid" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
