<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd *ngIf="idForm">
  <app-eventual-form-consolidate [height]="getHeight(dd)" [idEventualForm]="idForm"
                                 (getForm)="setEventualForm($event)"></app-eventual-form-consolidate>
</div>
