<div mat-dialog-content style="padding:0 !important;">
  <app-oriana-table-toolbar *ngIf="titulo"
                            [onBack]="false"
                            [title]="titulo"
                            [onPrint]="false"
                            [onMore]="false"
                            [onFilter]="false"
                            [onSave]="false"
                            [onRefresh]="false"
                            [searchTittle]="'Buscar'"
                            [onProgress]="progress"
                            [onNew]="false"
                            (searching)="search($event)"></app-oriana-table-toolbar>
  <div class="content-table">
    <table mat-table [dataSource]="invoices">
      <ng-container matColumnDef="position">
        <th mat-header-cell class="position" *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="dateInvoice">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateInvoice}} </td>
      </ng-container>
      <ng-container matColumnDef="numberInvoice">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let element"> {{element.numberInvoice}} </td>
      </ng-container>
      <ng-container matColumnDef="nameInvoice">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameInvoice}} </td>
      </ng-container>
      <ng-container matColumnDef="amountCreditInvoice">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.amountCreditInvoice|dataMoney}} </td>
      </ng-container>
      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef>Opcion</th>
        <td mat-cell *matCellDef="let k = index">
          <button [disabled]="idDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <p>{{totalSelect()|dataMoney}}</p>
    <span class="example-spacer"></span>
    <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
    <button type="submit" (click)="closeDialog()" mat-raised-button color="primary"
            cdkFocusInitial>{{text.accept}}</button>
  </div>
</div>
