<div class="content-process" [ngClass]="selectClass">
  <div class="content-form hidden" [ngClass]="visibleSelect()">
    <app-cotract-select [transaction]="transaction" (cancel)="closeDialog()" (contractSelect)="setContract($event)"></app-cotract-select>
  </div>
  <div class="content-form hidden" [ngClass]="visibleForm()">
    <app-provider-form-select *ngIf="contractSlect&&!formSelect" (back)="backContract()" (cancel)="closeDialog()" (formSelect)="setFormSelect($event)"
                              [contract]="contractSlect"></app-provider-form-select>
  </div>
  <div class="content-form hidden" [ngClass]="visibleNew()">
    <app-provider-form-advance *ngIf="formSelect" [formSelect]="formSelect" [contract]="contractSlect" [dataTransaction]="data" (back)="backForms()" (cancel)="closeDialog()"
                               (clickAccept)="accept()"></app-provider-form-advance>
  </div>
</div>
