<h3 mat-dialog-title *ngIf="typeModal==1">Orden de Proceder</h3>
<h3 mat-dialog-title *ngIf="typeModal==2">Recepcion Provisional</h3>
<h3 mat-dialog-title *ngIf="typeModal==3">Recepcion Definitiva</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field *ngIf="typeModal==1" (click)="op.open()">
      <input matInput [matDatepicker]="op" placeholder="Fecha Orden de Proceder" readonly required
             [(ngModel)]="project.startDateOP" name="sinceDateForm">
      <mat-datepicker-toggle matSuffix [for]="op"></mat-datepicker-toggle>
      <mat-datepicker #op></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="typeModal==2" (click)="rp.open()">
      <input matInput [matDatepicker]="rp" [min]="project.startDateOP" placeholder="Fecha Recepcion Provisional"
             readonly required [(ngModel)]="project.dateRP" name="sinceDateForm">
      <mat-datepicker-toggle matSuffix [for]="rp"></mat-datepicker-toggle>
      <mat-datepicker #rp></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="typeModal==3" (click)="od.open()">
      <input matInput [matDatepicker]="od" [min]="project.dateRP" placeholder="Fecha Recepcion Definitiva" readonly
             required [(ngModel)]="project.dateRD" name="sinceDateForm">
      <mat-datepicker-toggle matSuffix [for]="od"></mat-datepicker-toggle>
      <mat-datepicker #od></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="typeModal==2">
      <input matInput type="number" placeholder="N&deg; Dias" required [(ngModel)]="project.limitRPtoRDRP"
             name="amountInitProject">
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field *ngIf="typeModal==3">
      <textarea matInput placeholder="DESCRIPCION RECEPCION DEFINITIVA" [maxLength]="300"
                [(ngModel)]="project.descriptionRD" name="descriptionForm"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
