<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Permanente'"
                          [onMore]="false"
                          [onNew]="false"
                          [onProgress]="progress"
                          [onSave]="false"
                          (searching)="search($event)"
                          (refresh)="load()"
                          (print)="printReport()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="viewPermanentForm">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="namePermanent" *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.namePermanent}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-header-cell mat-sort-header="days" *matHeaderCellDef>Dias</th>
        <td mat-cell *matCellDef="let element">{{element.days}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="month">
        <th mat-header-cell mat-sort-header="salaryMount" *matHeaderCellDef>Mensual</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.salaryMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="basic">
        <th mat-header-cell mat-sort-header="basicMount" *matHeaderCellDef>Monto<br>Basico</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.basicMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.basicMount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell mat-sort-header="discount" *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.discount|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.discount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="bonus">
        <th mat-header-cell mat-sort-header="bonus" *matHeaderCellDef>Bono</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.bonus|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.bonus|dataMoney}}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell mat-sort-header="mountTotal" *matHeaderCellDef>Monto<br>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.mountTotal|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.mountTotal|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-header-cell mat-sort-header="advance" *matHeaderCellDef>Anticipo</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.advance|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell mat-sort-header="liquidPay" *matHeaderCellDef>Liquido <br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPay|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.liquidPay|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="idDisabledPlan()" mat-icon-button color="primary" matTooltip="Planillar"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/permanent/'+idPermanentForm+'/planerPermanent/' + ele.idPermanent ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
