<app-oriana-table-toolbar *ngIf="true"
                          [onBack]="true"
                          [title]="''"
                          [searchTittle]="'Buscar materiales'"
                          [onMore]="false"
                          [onProgress]="progress"
                          [onNew]="disabledOrder()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="items">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="item">
        <th mat-header-cell mat-sort-header="materialItem" *matHeaderCellDef>Material</th>
        <td mat-cell *matCellDef="let element"> {{element.materialItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell mat-sort-header="unityItem" *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element"> {{element.unityItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="pu">
        <th mat-header-cell mat-sort-header="priceUnityItem" *matHeaderCellDef>P/U</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.priceUnityItem|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-header-cell mat-sort-header="amountOrderItem" *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.amountOrderItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="!disabledOrder()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
