<app-oriana-table-toolbar *ngIf="titulo"
                          [routeBack]="routerBack"
                          [title]="titulo"
                          [searchTittle]="'Buscar Cheques'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="false"
                          [onPrint]="false"
                          (refresh)="load()"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="payChecks">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-sort-header="numberCheck" mat-header-cell *matHeaderCellDef>N&deg; Chuque</th>
        <td mat-cell *matCellDef="let element">{{element.numberCheck}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-sort-header="type" mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateCheck" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element">{{element.dateCheck|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-sort-header="mountCheck" mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.mountCheck|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.financial|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="mountRender">
        <th mat-sort-header="mountPay" mat-header-cell *matHeaderCellDef>Monto<br>Rendido</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.mountPay|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.advanceReturn|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-sort-header="balance" mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell"
            *matCellDef="let element"> {{(element.mountCheck - element.mountPay)|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef> {{total.balance|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
