<h3 mat-dialog-title>Caja Chica</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="datart()">
    <mat-form-field>
      <mat-select required placeholder="Nombre" [(ngModel)]="pettyCash.idUser" name="idUser">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.name}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="users.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
