<!--<h3 mat-dialog-title>Materiales</h3>-->
<div mat-dialog-content style="padding:0 !important;">
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row>
      <span class="title">{{title}}</span>
      <span class="example-spacer"></span>
      <mat-form-field style="top: 9px;" class="font-min" appearance="outline" (click)="st.open()">
        <input matInput [matDatepicker]="st" placeholder="Fecha" readonly
               required [(ngModel)]="dateOrder" name="dateLetter" [disabled]="!visible">
        <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
        <mat-datepicker #st></mat-datepicker>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
  <form autocomplete="off" (submit)="visible?accept(): closeDialog()">
    <div class="content-table">
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="position">
          <th mat-header-cell class="position" *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Material</th>
          <td mat-cell *matCellDef="let element"> {{element.materialItem}} </td>
        </ng-container>
        <ng-container matColumnDef="unity">
          <th mat-header-cell *matHeaderCellDef>Unidad</th>
          <td mat-cell *matCellDef="let element"> {{element.unityItem}} </td>
        </ng-container>
        <ng-container matColumnDef="pu">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">P/U</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.priceUnityItem|dataMoney}} </td>
        </ng-container>
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Cantidad Solicitada</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.amountOrderItem}} </td>
        </ng-container>
        <ng-container matColumnDef="preview" *ngIf="visible">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Cantidad Entregada</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.previewSubmitItem}} </td>
        </ng-container>
        <ng-container matColumnDef="submit" *ngIf="visible">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Cantidad A Entregar</th>
          <td mat-cell *matCellDef="let element" class="number-cell">
            <input class="min-cell" type="number" (keyup)="calcBalance(element)" [(ngModel)]="element.submitOrderItem"
                   name="amountOrderItem{{element.idOrderItem}}">
          </td>
        </ng-container>
        <ng-container matColumnDef="submit" *ngIf="!visible">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Cantidad A Entregar</th>
          <td mat-cell *matCellDef="let element" class="number-cell">{{element.submitOrderItem}}</td>
        </ng-container>
        <ng-container matColumnDef="request" *ngIf="visible">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Cantidad Pendiente</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.balanceOrderItem}} </td>
        </ng-container>
        <ng-container matColumnDef="pay">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;">Monto Pagado</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.amountPayOrderTracing|dataMoney}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getColumns(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getColumns();">
        </tr>
      </table>
    </div>
    <div mat-dialog-actions *ngIf="data.option == 'edit' || data.option == 'new'">
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
    <div mat-dialog-actions *ngIf="data.option == 'show'">
      <span class="example-spacer"></span>
      <button type="button" mat-raised-button (click)="closeDialog()">CERRAR</button>
      <button (click)="closeStatus(2)" *ngIf="isVisible()&&!data.editable" type="button" mat-raised-button
              color="primary"
              cdkFocusInitial>APROBAR
      </button>
      <button (click)="closeStatus(1)" *ngIf="!data.editable&&data.order.stateOrderPetition != 7" type="button"
              mat-raised-button color="primary"
              cdkFocusInitial>RECHAZAR
      </button>
    </div>
  </form>
</div>
