table {
  width: calc(100% - 1px);
}

thead {
  background-color: white !important;
}

th {
  color: black;
}

.mat-tab-body-content {
  height: 697px;
  overflow: auto !important;
}

mat-tab-body {
  padding: 0 !important;
  height: 500px;
}

.position {
  width: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 10px 20px;
}

.content-table {
  position: inherit;
  max-height: 350px;
  overflow: hidden auto;
}

input[type="number"].min-cell::-webkit-input-placeholder {
  font-size: 10px;
}

mat-form-field input {
  text-transform: uppercase;
}

.font-min {
  font-size: 12px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 56px;
}

mat-toolbar-row {
  max-height: 56px;
  background: white;
}

.title {
  color: #4c4c4c;
  font: 500 17px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
