<div class="content-process" [ngClass]="selectClass">
  <div class="content-form">
    <app-eventual-form-select *ngIf="!formSelect && transaction.idTransaction == null" (cancel)="closeDialog()"
                              (formSelect)="setFormSelect($event)"></app-eventual-form-select>
  </div>
  <div class="content-form">
    <app-eventual-form-advance *ngIf="formSelect || transaction.idTransaction != null" [formSelect]="formSelect"
                               [dataTransaction]="data" (back)="backForms()" (cancel)="closeDialog()"
                               (clickAccept)="accept()"></app-eventual-form-advance>
  </div>
</div>
