<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<mat-tab-group class="mat-elevation-z2 container" #tab color="primary">
  <mat-tab [label]="titles.advance">
    <app-provider-form-planer *ngIf="idForm" (getForm)="getForm($event)" [height]="getHeight(tab)"
                              [idProviderForm]="idForm" [type]="1"></app-provider-form-planer>
  </mat-tab>
  <mat-tab [label]="titles.discount">
    <app-provider-form-planer *ngIf="idForm" (getForm)="getForm($event)" [height]="getHeight(tab)"
                              [idProviderForm]="idForm" [type]="0"></app-provider-form-planer>
  </mat-tab>
  <mat-tab [label]="titles.anticipation">
    <app-provider-form-anticipation *ngIf="idContract" [height]="getHeight(tab)" [idProviderForm]="idForm"
                                    [idContract]="idContract" [providerForm]="form"></app-provider-form-anticipation>
  </mat-tab>
</mat-tab-group>
