/*.container {*/
/*width: 100%;*/
/*height: calc(100% - 94px);*/
/*position: absolute;*/
/*}*/
.mat-tab-body-wrapper {
  height: 100%;
}
mat-tab-group {
  height: calc(100% - 94px);
  max-height: calc(100% - 94px);
}

mat-tab-body {
  height: 500px;
}
@media only screen and (max-width: 600px) {
  mat-tab-group {
    height: calc(100% - 57px);
    max-height: calc(100% - 57px);
  }
}
