<h3 mat-dialog-title>Proyecto</h3>
<div mat-dialog-content>
  <form autocomplete="off" [formGroup]="formProject" (submit)="sendFormData()">
    <mat-form-field>
      <mat-label>N&deg; Contrato</mat-label>
      <input matInput type="text" placeholder="N&deg; Contrato" required formControlName="nroContractProject"
             name="nroContractProject">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="Nombre" required formControlName="nameProject" name="nameProject">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select required placeholder="Cliente" formControlName="idClient" name="idClient">
        <mat-option *ngFor="let client of clients" [value]="client.idClient">
          {{client.nameClient}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="clients.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 20px;">
      <mat-label>Costo</mat-label>
      <input matInput type="number"  formControlName="amountInitProject" placeholder="Costo" required
             name="amountInitProject">
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field class="col s50">
      <mat-label>Plazo</mat-label>
      <input matInput type="number" placeholder="Plazo" required formControlName="limitProject"
             name="limitProject">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile formControlName="fileProject" matInput  name="file" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="button" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="!formProject.valid" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
