<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd *ngIf="idPettyCash">
  <app-petty-cash-period [idPettyCash]="idPettyCash" (pettyCash)="setBank($event)"></app-petty-cash-period>
</div>
