<app-oriana-toolbar [title]="titles.module" [subTitle]="getNameContract()"></app-oriana-toolbar>
<div class="container" #dd>
  <app-provider-forms [height]="getHeight(dd)" [idContract]="idContract" [idProvider]="idProvider"></app-provider-forms>
</div>
