<div class="content-process" [ngClass]="selectClass">
  <div class="content-form hidden" [ngClass]="visibleSelect()">
    <app-client-select (accept)="setIdProject($event)" (cancel)="closeDialog()"></app-client-select>
  </div>
  <div class="content-form hidden" [ngClass]="visibleForm()">
    <app-client-forms *ngIf="idProject" [idProject]="idProject" [transaction]="transaction" (cancel)="closeDialog()"
                      (back)="backToSelect()" (formSelect)="setFormSelect($event)" (selectProject)="setProject($event)"></app-client-forms>
  </div>
  <div class="content-form hidden" [ngClass]="visibleNew()">
    <app-client-income *ngIf="formSelect" [dataTransaction]="data" [formSelect]="formSelect"
                       (cancel)="closeDialog()" (clickAccept)="accept()" (back)="backToForm()"></app-client-income>
  </div>
</div>
