<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubtitle()"></app-oriana-toolbar>
<div class="container">
  <app-order-quotation-items (getOrder)="setOrder($event)"></app-order-quotation-items>
</div>
