<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubTitle()"></app-oriana-toolbar>
<div class="container">
  <app-transactions-petty-cash-office [idBank]="idBank" [idCheck]="null" [idPeriod]="idPeriod" (data)="updateData($event)"></app-transactions-petty-cash-office>
</div>
