<h3 mat-dialog-title>Material</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="sendData()">
    <mat-form-field>
      <input matInput placeholder="Material" required [(ngModel)]="item.materialItem" name="materialItem">
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 15px;">
      <input matInput placeholder="Unidad" required [(ngModel)]="item.unityItem" name="unityItem">
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput type="number" placeholder="Precio Unitario" required [(ngModel)]="item.priceUnityItem"
             name="priceUnityItem">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
