<!--<app-oriana-table-toolbar [title]="titulo"-->
<!--(refresh)="load()"-->
<!--[searchTittle]="'Buscar Transacciones'"-->
<!--[onProgress]="progress"-->
<!--[onNew]="false"-->
<!--[onPrint]="false"-->
<!--[onMore]="false"-->
<!--(searching)="search($event)"></app-oriana-table-toolbar>-->
<!--<div class="table-container">-->
<!--<div class="content">-->
<!--<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="transactions">-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell *matHeaderCellDef> No.</th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i + 1}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="date">-->
<!--<th mat-sort-header="dateTransaction" mat-header-cell *matHeaderCellDef>Fecha</th>-->
<!--<td mat-cell class="date-cell" *matCellDef="let element">{{element.dateTransaction|dateOriana}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="check">-->
<!--<th mat-sort-header="numberCheck" mat-header-cell *matHeaderCellDef>N&deg; Cheque</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.numberCheck}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="project">-->
<!--<th mat-sort-header="dateCheck" mat-header-cell *matHeaderCellDef>Proyecto</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameProject}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="operation">-->
<!--<th mat-sort-header="typeTransaction" mat-header-cell *matHeaderCellDef>Operacion</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.typeTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="accountD">-->
<!--<th mat-sort-header="nameAccountTransaction" mat-header-cell *matHeaderCellDef>Cuenta/Descuento</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameAccountTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="category">-->
<!--<th mat-sort-header="nameCategory" mat-header-cell *matHeaderCellDef>Categoria</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameCategory}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="respaldo">-->
<!--<th mat-sort-header="nroReceiptTransaction" mat-header-cell *matHeaderCellDef>N&deg; Respaldo</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nroReceiptTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="description">-->
<!--<th mat-sort-header="descriptionTransaction" mat-header-cell *matHeaderCellDef>Descripcion</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.descriptionTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="import">-->
<!--<th mat-sort-header="amountTransaction" mat-header-cell *matHeaderCellDef>Importe</th>-->
<!--<td mat-cell class="number-cell" *matCellDef="let element">{{element.amountTransaction|dataMoney}}</td>-->
<!--<td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.total|dataMoney}}</td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="options">-->
<!--<th mat-header-cell *matHeaderCellDef>Opciones</th>-->
<!--<td mat-cell *matCellDef="let ele ;let k = index">-->
<!--<button mat-icon-button color="primary" matTooltip="Recibo" (click)="printFacturation(ele.idTransaction)">-->
<!--<mat-icon>print</mat-icon>-->
<!--</button>-->
<!--</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->

<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
