form {
  font-size: 12px !important;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: -10px;
}

.col.s50 {
  width: 46%;
  display: inline-block;
}

.col.s51 {
  width: 48%;
  display: inline-block;
}
