<h3 mat-dialog-title>Traspaso</h3>
<div mat-dialog-content>
  <form autocomplete="off" (submit)="submit()">
    <mat-form-field class="col s51" style="margin-right: 20px;">
      <input matInput placeholder="N&deg; Recibo" required [(ngModel)]="transfer.numberReceiptProject"
             name="nroReceiptTransaction">
    </mat-form-field>
    <mat-form-field class="col s51"
                    (click)="since.open()">
      <input matInput [matDatepicker]="since" placeholder="Fecha" readonly
             required
             [(ngModel)]="transfer.dateReceiptProject" name="dateTransaction">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col s51" style="margin-right: 20px;">
      <mat-select required placeholder="De Proyecto" [(ngModel)]="transfer.idProjectOrigin" name="idProject">
        <mat-option *ngFor="let project of projects" [value]="project.idProject" [disabled]="isDisabledOrigin(project)">
          {{project.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="projects.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col s51">
      <mat-select required placeholder="Para Proyecto" [(ngModel)]="transfer.idProjectDestine" name="idProject">
        <mat-option *ngFor="let project of projects" [value]="project.idProject"
                    [disabled]="isDisabledDestine(project)">
          {{project.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="projects.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col s51" style="margin-right: 20px">
    </div>
    <mat-form-field class="col s51">
      <input matInput type="number" placeholder="Monto" required [(ngModel)]="transfer.amountReceiptProject"
             name="amountTransaction">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalle" [maxLength]="300"
                [(ngModel)]="transfer.descriptionReceiptProject" name="descriptionTransaction"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
