<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <app-oriana-back-button></app-oriana-back-button>
    <span *ngIf="title">{{title}}</span>
    <span class="example-spacer"></span>
    <button class="button-search" matTooltip="Buscar" mat-icon-button (click)="setSearchVisible()">
      <mat-icon>search</mat-icon>
    </button>
    <div class="search" style="font-size: 12px !important;top: 8px; position: relative;">
      <form (ngSubmit)="search()">
        <mat-form-field appearance="outline">
          <span matPrefix><mat-icon>search</mat-icon></span>
          <mat-label class="font-sub-tittle">{{searchTittle}}</mat-label>
          <input matInput type="text" [placeholder]="searchTittle" [(ngModel)]="value" name="value">
          <button type="reset" mat-button [ngStyle]="{'visibility':isVisible()}" matSuffix mat-icon-button
                  aria-label="Clear" (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <button *ngIf="onNew" matTooltip="Nuevo" mat-icon-button [matMenuTriggerFor]="menuExpense">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refrescar" (click)="clickRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="onProgress" mode="indeterminate"></mat-progress-bar>
<mat-menu #menuExpense="matMenu" xPosition="before">
  <span mat-menu-item disabled><span>Egreso</span></span>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngFor="let option of expense" (click)="clickNew(option.url)">
    <span>{{option.option}}</span>
  </button>
</mat-menu>

