<div class="app-container">
  <mat-drawer-container class="container-inicio" autosize>
    <mat-drawer class="example-sidenav mat-elevation-z2" mode="side" [opened]="toggle.isOpen()">
      <div style="width: 300px;position: inherit;height: 100%">

        <div style="height: 100%;position: inherit;">
          <app-oriana-button-modules></app-oriana-button-modules>
        </div>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="principal-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
  <!--<mat-sidenav-container-->
  <!--class="container-inicio" (backdropClick)="close('backdrop')">-->
  <!--<mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>-->
  <!--<p><button mat-button (click)="close('toggle button')">Toggle</button></p>-->
  <!--<app-oriana-button-modules></app-oriana-button-modules>-->

  <!--</mat-sidenav>-->

  <!--<mat-sidenav-content>-->
  <!--<div class="principal-content">-->
  <!--<router-outlet></router-outlet>-->
  <!--</div>-->
  <!--<p><button mat-button (click)="sidenav.open()">Open</button></p>-->
  <!--<p>Closed due to: {{reason}}</p>-->
  <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->
</div>
