.container-inicio {
  position: absolute;
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0;
}

.principal-toolbar {
  width: 100%;
  top: 0;
  position: absolute;
  height: 64px;
}

.principal-content {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

