<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Garantias'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="tickets">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="line">
        <th mat-header-cell mat-sort-header="nameFinancial" *matHeaderCellDef>L. Credito</th>
        <td mat-cell *matCellDef="let element"> {{element.nameFinancial}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell mat-sort-header="typeTicket" *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element"> {{element.typeTicket}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header="nameProject" *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
        <td mat-footer-cell *matFooterCellDef>TOTAL</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header="amountWarrantyTicket" *matHeaderCellDef>Monto</th>
        <td mat-cell class=number-cell *matCellDef="let element"> {{element.amountWarrantyTicket|dataMoney}} </td>
        <td mat-footer-cell class=number-cell *matFooterCellDef>{{totals.amountWarrantyTicket|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell mat-sort-header="startDateTicket" style="width: 120px" *matHeaderCellDef>Desde</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.startDateTicket|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell mat-sort-header="endDateTicket" style="width: 120px" *matHeaderCellDef>Hasta</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.endDateTicket|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header="stateTicket" style="width: 120px" *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let e">{{e.stateTicket}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [checked]="ele.stateTicket=='vigente'"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <a target="_blank" [href]="ele.fileTicket" [disabled]="!ele.fileTicket" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button [disabled]="optionsDisabled(ele)" mat-icon-button color="primary" matTooltip="renovar"
                  (click)="reNew(k)">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
          <button [disabled]="optionsDisabled(ele)" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="optionsDisabled(ele)" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="isColor(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
