<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Transitos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="createPersonal()"
                          (refresh)="loadPersonal()"
                          (print)="printReport()"
                          (searching)="searchPersonal($event)"
                          (filterOption)="switchPersonal($event)"></app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-111) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="transits">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-sort-header="nameTransit" mat-header-cell *matHeaderCellDef>nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameTransit}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="op">
        <th mat-header-cell *matHeaderCellDef>opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox [disabled]="isDisabled()" (changed)="updateStatePersonal($event,k)"
                               [checked]="ele.activeTransit"></app-oriana-checkbox>
          <a target="_blank" [appShowFile]="ele.fileTransit" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="editPersonal(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deletePersonal(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
