<h3 mat-dialog-title>Caja Chica Oficina</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="datart()">
    <mat-form-field>
      <input matInput placeholder="nombre" required [(ngModel)]="back.nameAccountBank" name="nameAccountBank">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
