<h3 mat-dialog-title>Codigo Proyecto</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field>
      <input matInput type="text" placeholder="Proyecto" [disabled]="true" required [value]="data_.nameProject"
             name="code">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Codigo de Proyecto" required [(ngModel)]="code"
             name="code">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
