<!--<a *ngIf="!isBack" class="btn btn-floating  btn-large red hoverable button-back waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="atras" materialize="tooltip" [routerLink]=[route]><i class="mdi-navigation-arrow-back small"></i></a>-->
<!--<a *ngIf="isBack" class="btn btn-floating  btn-large red hoverable button-back waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="atras" materialize="tooltip" (click)="back()"><i class="mdi-navigation-arrow-back small"></i></a>-->
<button *ngIf="!isBack" class="button-back" [routerLink]=[route] matTooltip="atras" mat-mini-fab color="warn">
  <mat-icon>arrow_back</mat-icon>
</button>
<button *ngIf="isBack" class="button-back" (click)="back()" matTooltip="atras" mat-mini-fab color="warn">
  <mat-icon>arrow_back</mat-icon>
</button>
