<h3 mat-dialog-title>Planilla</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field class="col s50">
      <mat-label>Año</mat-label>
      <input matInput type="number" placeholder="A&ntilde;o" required [(ngModel)]="year" name="year">
    </mat-form-field>
    <mat-form-field class="col s50">
      <mat-label>N&deg; Quincena</mat-label>
      <input matInput type="number" placeholder="N&deg; Quincena" required [(ngModel)]="biwekly" name="biwekly">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Periodo</mat-label>
      <input style="text-transform: uppercase" readonly matInput type="text" placeholder="periodo" required
             value="{{biwekly|periodEventual:year}}" name="biwekly">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
