<h3 mat-dialog-title>Filtrar Por Fecha</h3>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="picker0" [(ngModel)]="date1" name="name1" (click)="picker0.open()" [max]="date2"
           placeholder="Desde Fecha">
    <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
    <mat-datepicker #picker0></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="date2" name="name2" (click)="picker1.open()" [min]="date1"
           [max]="now" readonly placeholder="Hasta Fecha">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="valid()" (click)="accept()"
          cdkFocusInitial>{{text.accept}}</button>
</div>
