<h3 mat-dialog-title>Carta</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <div class="row">
      <div class="col-4">
        <mat-form-field (click)="st.open()">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="st" placeholder="Fecha" readonly
                 required [(ngModel)]="form.dateLetter" name="dateLetter">
          <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
          <mat-datepicker #st></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Nro Registro</mat-label>
          <input matInput type="text" [disabled]="true" placeholder="Nro Registro" required [value]="form.numberLetterL"
                 name="numberLetterL">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Cite</mat-label>
          <input matInput [disabled]="form.typeLetter !== 'R'" type="text" placeholder="Cite" required [(ngModel)]="form.citeLetter"
                 name="citeLetter">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field *ngIf="form.typeLetter == 'R'">
          <mat-label>Procedencia</mat-label>
          <input matInput type="text" placeholder="Procedencia" required [(ngModel)]="form.from_or_to"
                 name="Procedencia">
        </mat-form-field>
        <mat-form-field *ngIf="form.typeLetter == 'E'">
          <mat-label>Destinatario</mat-label>
          <input matInput type="text" placeholder="Destinatario" required [(ngModel)]="form.from_or_to"
                 name="Destinatario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Proyecto</mat-label>
          <mat-select [disabled]="isDisabled()" required placeholder="Proyecto" (valueChange)="showCode($event)"
                      [(ngModel)]="form.idProject" name="idProject">
            <!--        <mat-option value="null">{{'Sin Proyecto'}}</mat-option>-->
            <mat-option *ngFor="let p of projects" [value]="p.idProject">
              {{p.nameProject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Referencia</mat-label>
          <textarea matInput type="text" placeholder="Referencia" required [(ngModel)]="form.referenceLetter"
                    name="referenceLetter">
      </textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Adjuntos</mat-label>
          <input matInput type="text" placeholder="Adjuntos" required [(ngModel)]="form.attachedLetter"
                 name="attachedLetter">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Archivo adjunto</mat-label>
          <!--      <ngx-mat-file-input #removableInput [placeholder]="text.file" [(ngModel)]="file" name="file"></ngx-mat-file-input>-->
          <input readonly appInputFile [(ngModel)]="form.fileLetter" matInput  name="fileModification" placeholder="Archivo adjunto">
          <!--      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">-->
          <!--        <mat-icon>clear</mat-icon>-->
          <!--      </button>-->
        </mat-form-field>
      </div>
    </div>




    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
