form {
  font-size: 12px !important;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: -10px;
}

.col.s50 {
  width: 47%;
  display: inline-block;
}

mat-form-field.col.s50:first-child {
  margin-right: 20px;
}

mat-radio-button > .mat-radio-label {

  font-size: 12px !important;
}

mat-radio-button {
  width: 100%;
  margin-top: 10px;
}

#stateLabel {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
