<h3 mat-dialog-title>Nuevo</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field (click)="st.open()">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="st" placeholder="Fecha" readonly
             required [(ngModel)]="form.dateTracingLetter" name="dateTracingLetter" [min]="letter.dateLetter">
      <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
      <mat-datepicker #st></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Responsable (Usuario)</mat-label>
      <mat-select [disabled]="isDisabled()" required placeholder="Responsable (Usuario)" [(ngModel)]="form.id"
                  name="id">
        <mat-option *ngFor="let u of users" [value]="u.id">
          {{u.name}} {{u.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Instrucci&oacute;n</mat-label>
      <textarea matInput type="text" placeholder="Instrucci&oacute;n" required [(ngModel)]="form.instructionTracingLetter"
                name="instructionTracingLetter">
      </textarea>
    </mat-form-field>
    <label id="stateLabel">Estado</label>
    <mat-radio-group [(ngModel)]="form.stateLetter" name="stateLetter" aria-labelledby="stateLabel">
      <mat-radio-button value="PENDIENTE">PENDIENTE</mat-radio-button>
      <mat-radio-button value="FINALIZADA">FINALIZADA</mat-radio-button>
    </mat-radio-group>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
