table {
  width: calc(100% - 1px);
}

thead {
  background-color: white !important;
}

th {
  color: black;
}

.mat-tab-body-content {
  height: 697px;
  overflow: auto !important;
}

mat-tab-body {
  padding: 0 !important;
  height: 500px;
}

.position {
  width: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 10px 20px;
}

.content-table {
  position: inherit;
  max-height: 350px;
  overflow: hidden auto;
}

input[type="number"].min-cell::-webkit-input-placeholder {
  font-size: 10px;
}
