<!--<h3 mat-dialog-title>Materiales</h3>-->
<div mat-dialog-content style="padding:0 !important;">
  <app-oriana-table-toolbar *ngIf="titulo"
                            [onBack]="false"
                            [title]="titulo"
                            [onPrint]="false"
                            [onMore]="false"
                            [onFilter]="false"
                            [onSave]="false"
                            [onRefresh]="false"
                            [searchTittle]="'Buscar Materiales'"
                            [onProgress]="progress"
                            (new)="create()"
                            (searching)="search($event)"></app-oriana-table-toolbar>
  <form autocomplete="off" (submit)="accept()">
    <div class="content-table">
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell class="position" *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Material</th>
          <td mat-cell *matCellDef="let element"> {{element.materialItem}} </td>
        </ng-container>
        <ng-container matColumnDef="unity">
          <th mat-header-cell *matHeaderCellDef>Unidad</th>
          <td mat-cell *matCellDef="let element"> {{element.unityItem}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>P/U</th>
          <td mat-cell *matCellDef="let element" class="number-cell"> {{element.priceUnityItem|dataMoney}} </td>
        </ng-container>
        <ng-container matColumnDef="mount">
          <th mat-header-cell *matHeaderCellDef style="max-width: 100px;">Cantidad a Solicitar</th>
          <td mat-cell *matCellDef="let element" class="number-cell">
            <input class="min-cell" type="number" [(ngModel)]="element.amountOrderItem" [ngStyle]="isInvalid(element)"
                   name="amountOrderItem{{element.idOrderItem}}">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          <!--(click)="selection.toggle(row)">-->
        </tr>
      </table>
    </div>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
