<!--<app-table-provider-forms *ngIf="transactionSelect&&transactionSelect.code_transaction == code.providerFormExpense" [transactionSelect]="transactionSelect"></app-table-provider-forms>-->
<app-table-provider-forms [transactionSelect]="transactionSelect"></app-table-provider-forms>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
  <button type="submit" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>
