.example-card {
  width: 450px;
  margin-bottom: 30px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  position: relative;
  margin: auto;
  background: #fffae3fa;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

mat-card-content {
  margin-bottom: 0;
}

ul.info {
  display: inline-block;
  position: relative;
  width: calc(50% - 8px);
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  margin: 10px 3px;
  /*border: solid 1px #0021663b;*/
  border: solid #d4d4d4 1px;
  font-size: 12px;
  border-radius: 5px;
}

ul.info li {
  padding: 4px 10px;
}

li span:first-child {
  display: inline-block;
  width: 67%;
}

li span:last-child {
  display: inline-block;
  width: 33%;
  text-align: right;
}

mat-card-header button {
  position: absolute;
  right: 0;
  top: 0;
}

.table-container {
  height: calc(100% - 207px) !important;
}

.center-btn {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.text-center {
  text-align: center !important;
}

@media screen and (max-width: 600px) {
  .table-container .content {
    padding: 0;
    min-width: 400px;
  }
}
