<app-oriana-table-toolbar
  [onNew]="false"
  [routeBack]="routeBack"
  [onSearch]="false"
  [onSave]="false"
  [onPrint]="false"
  [onMore]="false"
  (refresh)="loadProject()"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <mat-card class="example-card mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>Orden de Proceder</mat-card-title>
        <button [disabled]="isDisabled()" *ngIf="typeStatus===1" mat-icon-button (click)="deleteState('EJ')">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <ng-container *ngIf="typeStatus>0">
        <mat-card-content>
          <ul class="info">
            <li><span
              class="text-bold">Fecha De Inicio</span><span>{{orderToProceed?.startDate_ofProject|dateOriana}}</span></li>
            <li><span class="text-bold">Plazo Actualizado</span><span>{{orderToProceed.limitUpdateOP_project}}</span></li>
            <li><span class="text-bold">Fecha Final</span><span>{{orderToProceed?.finalDateOP_project|dateOriana}}</span>
            </li>
          </ul>
          <ul class="info">
            <li><span class="text-bold">Dias Trabajados</span><span>{{orderToProceed?.workedDayOP_project}}</span></li>
            <li><span class="text-bold">Dias Por Trabajar</span><span>{{orderToProceed?.daysToWorkOP_project}}</span></li>
            <li><span
              class="text-bold">% Transcurrido</span><span>{{orderToProceed.percenttagePassedOP_project|dataMoney}}</span>
            </li>
          </ul>
        </mat-card-content>
      </ng-container>
      <ng-container *ngIf="typeStatus==0">
        <mat-card-content class="text-center">
          <button [disabled]="isDisabled()" class="center-btn" mat-flat-button color="primary" (click)="saveDateIni()">
            <mat-icon>calendar_today</mat-icon>
            Agregar Fecha de Inicio
          </button>
        </mat-card-content>
      </ng-container>

    </mat-card>
    <mat-card class="example-card mat-elevation-z3" *ngIf="typeStatus===2||typeStatus===1 ||typeStatus===3">
      <mat-card-header>
        <mat-card-title>Recepcion Provisional</mat-card-title>
        <button [disabled]="isDisabled()" *ngIf="typeStatus===2" mat-icon-button (click)="deleteState('RP')">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <ng-container *ngIf="typeStatus > 1">
        <mat-card-content>
          <ul class="info">
            <li><span class="text-bold">Fecha De RP</span><span>{{receptionProvisional?.dateRP|dateOriana}}</span></li>
            <li><span class="text-bold">Plazo De RP a RD</span><span>{{receptionProvisional?.daysRPtoRD}}</span></li>
            <li><span
              class="text-bold">Fecha Final</span><span>{{receptionProvisional?.expectedDateRP_project|dateOriana}}</span>
            </li>
          </ul>
          <ul class="info">
            <li><span class="text-bold">Dias Trabajados</span><span>{{receptionProvisional?.workedDaysRP_project}}</span>
            </li>
            <li><span class="text-bold">Dias Por Trabajar</span><span>{{receptionProvisional?.daysToWorkRP_project}}</span>
            </li>
            <li><span
              class="text-bold">% Transcurrido</span><span>{{receptionProvisional?.percentagePassedRP_project|dataMoney}}</span>
            </li>
          </ul>
        </mat-card-content>
      </ng-container>
      <ng-container *ngIf="typeStatus==1">
        <mat-card-content class="text-center">
          <button [disabled]="isDisabled()" class="center-btn"  mat-flat-button color="primary" (click)="saveDateRP()">
            <mat-icon>calendar_today</mat-icon>
            Agregar Fecha de Recepci&oacute;n Provisional
          </button>
        </mat-card-content>
      </ng-container>
    </mat-card>
    <mat-card class="example-card mat-elevation-z3" *ngIf="typeStatus===2||typeStatus===3">
      <mat-card-header>
        <mat-card-title>Recepci&oacute;n Definitiva</mat-card-title>
        <button  [disabled]="isDisabled()" *ngIf="typeStatus===3" mat-icon-button
                (click)="deleteState('RD')">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <ng-container *ngIf="typeStatus===3">
        <mat-card-content>
          <ul class="info" style="width: 100%; display: inherit">
            <li><span class="text-bold" style="width: min-content;">Fecha</span><span
              style="text-align: right">{{receptionDefinitive?.start_date|dateOriana}}</span></li>
          </ul>
          <ul class="info" style="width: 100%; display: inherit">
            <li>
              <span style="width: 100%; text-align: justify" class="text-bold">Descripcion</span>
              <span style="width: 100%; text-align: justify">{{receptionDefinitive?.details}}</span>
            </li>
          </ul>
        </mat-card-content>
      </ng-container>
      <ng-container *ngIf="typeStatus===2">
        <mat-card-content class="text-center">
          <button  [disabled]="isDisabled()" mat-flat-button color="primary" class="center-btn" (click)="saveDateRD()">
            <mat-icon>calendar_today</mat-icon>
            Agregar Fecha de Recepci&oacute;n Definitiva
          </button>
        </mat-card-content>
      </ng-container>
    </mat-card>

  </div>
</div>
