<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Planillas'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabledForm()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="forms">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-sort-header="periodProviderForm" mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.periodProviderForm}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-sort-header="advanceProviderForm" mat-header-cell *matHeaderCellDef>Avance</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.advanceProviderForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-sort-header="discountProviderForm" mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.discountProviderForm|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.discount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="anticipation">
        <th mat-sort-header="anticipationProviderForm" mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.anticipationProviderForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquidPay">
        <th mat-sort-header="liquidPayableProviderForm" mat-header-cell *matHeaderCellDef>Liq. Pagable</th>
        <td mat-cell class="number-cell"
            *matCellDef="let element"> {{element.liquidPayableProviderForm|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.liquid|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-sort-header="mountPayAux" mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-sort-header="balanceAux" mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled(ele)" [checked]="ele.activeProviderForm==1"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledPlan()" mat-icon-button color="primary" matTooltip="Planillar"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/provider/'+idProvider+'/contract/'+idContract+'/planer/' + ele.idProviderForm ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button [disabled]="isDisabled(ele)" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
