<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePermanent()"></app-oriana-toolbar>
<div class="container" #dd>
  <app-equipment-form-planer [height]="getHeight(dd)" [idEquipmentForm]="idForm"
                             [idEquipment]="idEquipment" (getForm)="form($event)"></app-equipment-form-planer>
</div>
