<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Proyectos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="projects">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="contract">
        <th mat-sort-header="nroContractProject" mat-header-cell *matHeaderCellDef>N° Contrato</th>
        <td mat-cell *matCellDef="let element"> {{element.nroContractProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-sort-header="statesProject" mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let e" style="color: #002269;font-weight: 600;">{{e.stateProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountProject|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="limit">
        <th mat-sort-header="limitUpdateProject" mat-header-cell *matHeaderCellDef>Plazo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.limitUpdateProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-sort-header="endDate" mat-header-cell *matHeaderCellDef>F. Final</th>
        <td mat-cell class="date-cell" *matCellDef="let element"> {{element.endDate|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="elapsed">
        <th mat-sort-header="daysPassed" mat-header-cell *matHeaderCellDef>%Dias<br>Transcurridos</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.daysPassed|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-sort-header="physicalAdvanceProject" mat-header-cell *matHeaderCellDef>%Avance<br>Fisico</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.physicalAdvanceProject|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <a [appShowFile]="ele.fileProject" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button [disabled]="isDisabledTracing()" [routerLink]="getRouter(ele)"
                  matTooltip="Seguimiento, Modificaciones y Planillas" mat-icon-button color="primary">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
