<app-oriana-table-toolbar
  [title]="''"
  [onBack]="true"
  [onSearch]="false"
  [onMore]="false"
  [onSave]="saveVisible"
  [onNew]="false"
  [routeBack]="routerBack"
  (searching)="search($event)"
  (save)="save()"
  (refresh)="load()"
  (print)="printReport()">
</app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="items">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell mat-sort-header="materialItem" *matHeaderCellDef>Material</th>
        <td mat-cell *matCellDef="let element"> {{element.materialItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell mat-sort-header="unityItem" *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element"> {{element.unityItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header="amountOrderItem" *matHeaderCellDef>Cantidad</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountOrderItem}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header="priceUnityItem" *matHeaderCellDef>P/U</th>
        <td mat-cell class="number-cell" *matCellDef="let element">
          <input class="min-cell" type="number" [disabled]="disabledOrder()" [(ngModel)]="element.priceUnityItem"
                 (keyup)="calcTotalItem(element)" name="amountOrderItem{{element.idOrderItem}}">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell mat-sort-header="totalOrderItem" *matHeaderCellDef>Total</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.totalOrderItem|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotal()|dataMoney}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="updated_at" *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let ele">{{ele.updated_at|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
