<app-oriana-toolbar [title]="titles.module" [subTitle]="getNamePeriod()"></app-oriana-toolbar>
<div class="container" #dd *ngIf="idForm">
  <app-equipment-form-consolidate [height]="getHeight(dd)" [idEquipmentForm]="idForm"
                                  (getForm)="setForm($event)"></app-equipment-form-consolidate>
</div>
