<h3 mat-dialog-title>Linea De Credito</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field>
      <input matInput type="text" placeholder="Identificacion" required [(ngModel)]="form.nameFinancial"
             name="nameFinancial">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Monto Linea" required [(ngModel)]="form.amountLimitFinancial"
             name="amountLimitFinancial">
    </mat-form-field>
    <!--<mat-form-field>-->
    <!--<mat-select required placeholder="Estado" [(ngModel)]="form.stateFinancial"-->
    <!--name="stateFinancial">-->
    <!--<mat-option *ngFor="let state of states" [value]="state">-->
    <!--{{state}}-->
    <!--</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
