form {
  font-size: 12px !important;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
  padding: 0 !important;
  margin: 20px 20px 0 20px !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 10px 20px;
}

.col.s50 {
  width: 47%;
  display: inline-block;
}

mat-form-field {
  margin-right: 20px;
  width: 100%;
  font-size: 12px;
}

mat-tab-body {
  padding: 0 !important;
}

input {
  text-transform: uppercase;
}

.margin {
  width: 100%;
  margin: 10px;
  font-size: 12px;
}
