<h3 mat-dialog-title>Agrupar Por</h3>
<div mat-dialog-content>
  <mat-radio-group [(ngModel)]="labelPosition">
    <mat-radio-button class="margin" color="primary" *ngFor="let op of options"
                      [value]="op.value">{{op.option}}</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="valid()" (click)="accept()"
          cdkFocusInitial>Imprimir
  </button>
</div>
