<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Items'"
                          [onMore]="false"
                          [onPrint]="false"
                          [onNew]="false"
                          [onSave]="onSave"
                          [onSearch]="false"
                          (refresh)="load()"
                          (save)="save()">
</app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table [dataSource]="listAdvanceProvider">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef>Cancelar</th>
        <td mat-cell *matCellDef="let l">
          <app-oriana-checkbox-normal [checked]="l.paidOut==1" [disabled]="isDisabled(l)" [textTooltip]="tooltip"
                                      (changed)="addAdvance(l,$event)"></app-oriana-checkbox-normal>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.dateTransaction|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let e">{{e.descriptionTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="reb">
        <th mat-header-cell *matHeaderCellDef>N&deg; Recibo</th>
        <td mat-cell *matCellDef="let element">{{element.nroReceiptTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.amountTransaction * -1|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
