mat-tab-group {
  height: calc(100% - 94px);
  max-height: calc(100% - 64px);
}

@media only screen and (max-width: 600px) {
  mat-tab-group {
    height: calc(100% - 57px);
    max-height: calc(100% - 87px);
  }
}
