form {
  font-size: 12px !important;
}

.mat-dialog-content {
  overflow: hidden;
  max-height: 70vh;
  margin: 20px 20px 0 20px !important;
  padding: 0 10px !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 10px 20px;
}

.col.s50 {
  width: 47%;
  display: inline-block;
}

mat-form-field {
  width: 90%;
  font-size: 12px;
}

mat-tab-body {
  padding: 0 !important;
}

input {
  text-transform: uppercase;
}

.check-two-value {
  font-size: 12px;
  position: absolute;
  left: 6px;
  top: 0;
}
