<h3 mat-dialog-title>Filtrar Por Monto</h3>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile rowspan="1" colspan="2">
      <mat-checkbox class="check-two-value" [(ngModel)]="active" (change)="setValues()" name="active">Dos Valores
      </mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Operadores</mat-label>
        <mat-select [(ngModel)]="option1" name="actualOption">
          <mat-option [disabled]="option2 == t.value && active == true || t.value == 1 && active == true"
                      *ngFor="let t of types" [value]="t.value">
            {{t.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input name="value1" [(ngModel)]="value1" matInput placeholder="Monto" type="number">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Operadores</mat-label>
        <mat-select [disabled]="!active" [(ngModel)]="option2" name="actualOption">
          <mat-option [disabled]="option1 == t.value && active == true || t.value == 1 && active == true"
                      *ngFor="let t of types" [value]="t.value">
            {{t.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input name="value2" [(ngModel)]="value2" [disabled]="!active" matInput placeholder="Monto" type="number">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="valid()" (click)="accept()"
          cdkFocusInitial>{{text.accept}}</button>
</div>
