<div>
  <mat-progress-spinner *ngIf="visible"
                        class="example-margin"
                        color="primary"
                        mode="indeterminate"
                        [strokeWidth]="3" [diameter]="10">
  </mat-progress-spinner>
</div>
