<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>Ingreso Cliente</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form (submit)="sendFormData()">
    <mat-form-field>
      <mat-select required placeholder="Cliente" [(ngModel)]="idClient" name="idClient"
                  (valueChange)="loadProject($event)">
        <mat-option *ngFor="let client of clients" [value]="client.idClient">
          {{client.nameClient}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="clients.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="Proyecto" [(ngModel)]="idProject" name="idProject">
        <mat-option *ngFor="let project of projects" [value]="project.idProject">
          {{project.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="projects.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validClient()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
