<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Amortizar
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="accept()">

    <mat-form-field class="col s50" style="margin-right: 20px;">
      <input matInput placeholder="N&deg; Recibo" required [(ngModel)]="transaction.nroReceiptTransaction"
             name="nroReceiptTransaction">
    </mat-form-field>
    <mat-form-field class="col s50"
                    (click)="since.open()">
      <input matInput [min]="period.bankPeriod" [max]="endDate" [matDatepicker]="since" placeholder="Fecha" readonly
             required
             [(ngModel)]="transaction.dateTransaction" name="dateTransaction">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [disabled]="true" placeholder="Transito" readonly required [value]="trasit.nameTransit"
             name="nameTransit">
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 20px">
      <input matInput type="text" [disabled]="true" placeholder="Cuenta" readonly required [value]="bank.nameAccountBank"
             name="nameProject">
    </mat-form-field>
    <mat-form-field class="col s50" *ngIf="visible()==true">
      <input matInput type="number" placeholder="Monto" readonly disabled [value]="check.mountCheck"
             name="mountCheck">
    </mat-form-field>
    <mat-form-field class="col s50" *ngIf="visible()==false">
      <input matInput type="number" placeholder="Monto" [(ngModel)]="transaction.amountTransaction"
             name="amountTransaction">
      <span matSuffix>/{{transactionSelect.balance - transaction.amountTransaction| dataMoney}}</span>
      <mat-hint *ngIf="bank.isPettyCash == 0" align="start">
        Cheque {{check.balance - transaction.amountTransaction}}</mat-hint>
      <mat-hint align="end">{{text.messageDecimal}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalle" [maxLength]="300"
                [(ngModel)]="transaction.descriptionTransaction" name="descriptionTransaction"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button *ngIf="visible()==true" type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
      <button *ngIf="visible()==false" type="submit" [disabled]="validT()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
