.content-loader {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  z-index: 999;
}

.loader {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}

.overlay {
  filter: blur(4px);
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: .5;
  position: fixed;
  z-index: 999;
  background-color: black;
  /*background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=10");*/
  background-repeat: repeat;
}
