<div class="content-loader"
     *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner class="loader" [diameter]="100" *ngIf="isLoadingResults"></mat-spinner>
  <div class="overlay">
  </div>
</div>
