<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Proyectos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="false"
                          [onPrint]="false"
                          (refresh)="load()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="projects">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="contract">
        <th mat-sort-header="codeLetterProject" mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element"> {{element.codeLetterProject}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th style="width: 120px" mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let e; let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [textTooltip]="tooltip"
                                      [checked]="e.activeLetterForProject==1"
                                      (changed)="update(e.idProject, $event)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Usuarios" (click)="showUsers(e.idProject)">
            <mat-icon>group</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
