<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Seleccionar A amortizar
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <app-oriana-table-toolbar *ngIf="titulo"
                            [title]="titulo"
                            [searchTittle]="'Buscar Ingreso'"
                            [options]="options"
                            [onBack]="false"
                            [onNew]="false"
                            [onProgress]="false"
                            [onPrint]="false"
                            [onSearch]="false"
                            (refresh)="load()"
                            (searching)="search($event)"
                            (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
  <mat-radio-group class="example-radio-group" [(ngModel)]="positionSelect" name="positionSelect">

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="transactions">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateTransaction" class="date-cell" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element">{{element.dateTransaction|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="check">
        <th mat-sort-header="numberCheck" mat-header-cell *matHeaderCellDef>N&deg; Cheque</th>
        <td mat-cell *matCellDef="let element">{{element.numberCheck}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th mat-sort-header="typeTransaction" mat-header-cell *matHeaderCellDef>Operacion</th>
        <td mat-cell *matCellDef="let element">{{element.typeTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="accountD">
        <th mat-sort-header="nameAccountTransaction" mat-header-cell *matHeaderCellDef>Cuenta/Descuento</th>
        <td mat-cell *matCellDef="let element">{{element.nameAccountTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="respaldo">
        <th mat-sort-header="nroReceiptTransaction" mat-header-cell *matHeaderCellDef>N&deg; Respaldo</th>
        <td mat-cell *matCellDef="let element">{{element.nroReceiptTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-sort-header="descriptionTransaction" mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.descriptionTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="import">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountTransaction|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('amountTransaction')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.pay|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('pay')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.balance|dataMoney}}</td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('balance')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <mat-radio-button color="primary" [disabled]="isCheckedDisabled(ele)" required [value]="k"></mat-radio-button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
  <button type="submit" [disabled]="validForm()" (click)="sendFormData()" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>
