<h3 mat-dialog-title>{{data.title}}</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field class="col s50" style="margin-right: 20px">
      <mat-label>N&deg; Documento</mat-label>
      <input matInput type="text" placeholder="N&deg; Documento" required [(ngModel)]="modSelect.documentModification"
             name="documentModification">
    </mat-form-field>
    <mat-form-field class="col s50" (click)="picker.open()">
      <mat-label>Fecha</mat-label>
      <input matInput (dateChange)="ver($event)" [matDatepicker]="picker" placeholder="fecha" readonly required
             [(ngModel)]="modSelect.dateModification" name="dateModification">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="modSelect.TypeModification!='OT'" class="col s50" style="margin-right: 20px;">
      <mat-label>Monto</mat-label>
      <input matInput type="number" placeholder="Monto" required [(ngModel)]="modSelect.amountModification"
             name="amountModification">
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field *ngIf="modSelect.TypeModification!='OT'" class="col s50">
      <mat-label>Plazo</mat-label>
      <input matInput type="number" placeholder="Plazo" required [(ngModel)]="modSelect.daysModification"
             name="daysModification">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripci&oacute;n</mat-label>
      <textarea matInput placeholder="Descripcion" [maxLength]="300" [(ngModel)]="modSelect.descriptionModification"
                name="descriptionModification"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile [(ngModel)]="modSelect.fileModification" matInput  name="fileModification" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
