<h3 mat-dialog-title>Cheque</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="datart(file.files)">
    <mat-form-field class="col s50" style="margin-right: 20px">
      <input matInput placeholder="N&deg; Cheque" required [(ngModel)]="check.numberCheck" name="numberCheck">
    </mat-form-field>
    <mat-form-field class="col s50"
                    (click)="since.open()">
      <input matInput [min]="minDate" [max]="maxDate"
             [matDatepicker]="since" placeholder="Fecha" readonly required
             [(ngModel)]="check.dateCheck" name="dateCheck">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 20px">
      <mat-select required placeholder="tipo" [(ngModel)]="check.type" name="type">
        <mat-option *ngFor="let tcheck of typeCheck" [value]="tcheck">
          {{tcheck}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput placeholder="Monto" type="number" required [(ngModel)]="check.mountCheck" name="mountCheck">
    </mat-form-field>
    <div>
      <input class="" hidden id="input-file-id" type="file" #file/>
      <label for="input-file-id" class="mat-button mat-raised-button">{{text.file}}</label>
    </div>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
