<app-toolbar-oriana-project-operation [routerBack]="routeBack"
                                      [title]="titulo"
                                      [options]="options"
                                      [onNew]="!isNewDisabled()"
                                      (new)="createProject($event)"
                                      (refresh)="loadProject()"></app-toolbar-oriana-project-operation>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="projectSS">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> N&deg;</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef>total</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-sort-header="TypeForm" mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element"> {{element.TypeForm}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="doc">
        <th mat-sort-header="documentForm" mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element"> {{element.documentForm}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateForm" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element"> {{element.dateForm|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="since">
        <th mat-sort-header="sinceDateForm" mat-header-cell *matHeaderCellDef>Desde</th>
        <td mat-cell class="date-cell" *matCellDef="let element"> {{element.sinceDateForm|dateOriana}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="till">
        <th mat-sort-header="tillDateForm" mat-header-cell *matHeaderCellDef>Hasta</th>
        <td mat-cell class="date-cell" *matCellDef="let element"> {{element.tillDateForm|dateOriana}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-sort-header="amountForm" mat-header-cell *matHeaderCellDef>Monto Plani.</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountForm|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.amountForm|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-sort-header="advanceDiscountForm" mat-header-cell *matHeaderCellDef>Desc Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.advanceDiscountForm|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.advanceDiscountForm|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-sort-header="liquidPayableForm" mat-header-cell *matHeaderCellDef>Liquido pagable</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.liquidPayableForm|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.liquidPayableForm|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-sort-header="mountPayAux" mat-header-cell *matHeaderCellDef>Monto Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-sort-header="balanceAux" mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 120px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <a [appShowFile]="ele.fileForm" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button mat-icon-button [disabled]="isDisabled(ele)" color="primary" (click)="editProject(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [disabled]="isDisabled(ele)" color="warn" (click)="deleteProject(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
