<app-toolbar-oriana-project-operation [routerBack]="routeBack"
                                      [title]="titulo"
                                      [options]="options"
                                      [onNew]="!isDisabled()"
                                      (new)="createProject($event)"
                                      (refresh)="loadProject()"></app-toolbar-oriana-project-operation>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="modifications">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> N&deg;</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef>total</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-sort-header="TypeModification" mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element"> {{element.TypeModification}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="doc">
        <th mat-sort-header="documentModification" mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element"> {{element.documentModification}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateModification" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateModification|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-sort-header="daysModification" mat-header-cell *matHeaderCellDef>Dias</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.daysModification}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.days}}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-sort-header="amountModification" mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountModification|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.amount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 120px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <a [appShowFile]="ele.fileModification" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="editProject(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleteProject(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
