<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <app-oriana-back-button [routeBack]="routerBack"></app-oriana-back-button>
    <span *ngIf="title">{{title}}</span>
    <span class="example-spacer"></span>
    <button *ngIf="onNew" mat-icon-button matTooltip="Nuevo" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refrescar" (click)="clickRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu" [xPosition]="'before'">
  <button mat-menu-item *ngFor="let option of options;let i= index" (click)="clickNew(i)">
    <span>{{option.option}}</span>
  </button>
</mat-menu>

