<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Usuarios'"
                          [options]="options"
                          [onNew]="!isDisabled()"
                          [onProgress]="progress"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="searchPersonal($event)"
                          (filterOption)="switchPersonal($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="users">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-sort-header="username" mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="op">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox (changed)="updateState($event,k)"
                               [checked]="ele.active" [disabled]="isDisabled()||isRoot(ele.id)"></app-oriana-checkbox>
          <button mat-icon-button color="primary" [disabled]="isDisabled()||isRoot(ele.id)"
                  [routerLink]="'/users/' + ele.id + '/permission'">
            <mat-icon>vpn_key</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="isDisabled()||isRoot(ele.id)"
                  (click)="passwordReset(ele.id)">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="isDisabled()||isRoot(ele.id)" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" [disabled]="isDisabled()||isRoot(ele.id)" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
