<h3 mat-dialog-title>Empresa</h3>
<div mat-dialog-content>
  <form autocomplete="off" [formGroup]="formData" (submit)="accept()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" required formControlName="nameAnotherCompany" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile matInput formControlName="fileAnotherCompany" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
