<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>Seleccionar Contrato</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <app-oriana-table-toolbar *ngIf="titulo"
                            [title]="titulo"
                            [searchTittle]="'Buscar Contratos'"
                            [onNew]="false"
                            [onMore]="false"
                            [onProgress]="false"
                            [onPrint]="false"
                            [onSave]="false"
                            [onBack]="false"
                            (refresh)="load()"
                            (searching)="search($event)"></app-oriana-table-toolbar>
  <mat-radio-group class="example-radio-group" [(ngModel)]="positionSelect" name="positionSelect">

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="contracts">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef>total</td>
      </ng-container>
      <ng-container matColumnDef="contract">
        <th mat-sort-header="nroContractProject" mat-header-cell *matHeaderCellDef>N° Contrato</th>
        <td mat-cell *matCellDef="let element"> {{element.numberContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-sort-header="stateProject" mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let e">{{e.nameProvider}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-sort-header="amountProject" mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element"> {{element.categoryContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <mat-radio-button color="primary" [disabled]="isCheckedDisabled(ele)" required [value]="k"></mat-radio-button>

        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
  <button type="submit" [disabled]="validForm()" (click)="sendFormData()" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>
<!--</div>-->
<!--</div>-->
