/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

root {
  --oriana-blue: #002269;
}

*:not(mat-icon) {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body {
  margin: 0;
  /*text-transform: uppercase !important;*/
}



/*GRID*/


.grid-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

form .row [class^="col"] {
  float: left;
  margin: 0 2% !important;
  min-height: 0.125rem;
}



.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .grid-container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .grid-container {
    width: 75%;
    max-width: 60rem;
  }
}


/*end GRID*/


/*.mat-button-wrapper {*/
/*  text-transform: uppercase !important;*/
/*}*/

table:not(.mat-calendar-table) {
  position: relative;
  margin: auto;
  border-collapse: collapse;
  border: solid #e0e0e0 1px;
  /*box-shadow: 0 0 10px -1px #0000005c;*/
}

table:not(.mat-calendar-table) th, table:not(.mat-calendar-table) td {
  padding: 0 5px !important;
}

.mat-cell {
  font-size: 12px;
}

table:not(.mat-calendar-table) tr.mat-footer-row, tr.mat-row {
  height: 41px !important;
}

table:not(.mat-calendar-table) td:first-child, table:not(.mat-calendar-table) th:first-child {
  text-align: center !important;
  width: 40px !important;
}

table:not(.mat-calendar-table) thead button, table:not(.mat-calendar-table) th {
  text-transform: uppercase;
  font-weight: 600;
  color: #7b7b7b;
  font-size: 13px;
}

table:not(.mat-calendar-table) tr {
  border-bottom: solid 1px #b3b3b324;
}

/*table:not(.mat-calendar-table) thead {*/
/*background: #ffc800 !important;*/
/*background: #ffbe00 !important;*/
/*font-weight: bold;*/
/*}*/

table:not(.mat-calendar-table) tfoot td {
  font-size: 12px;
  font-weight: bold;
}

/*table:not(.mat-calendar-table) thead th, table:not(.mat-calendar-table) thead button {*/
/*color: white;*/
/*}*/

table:not(.mat-calendar-table) td.options {
  min-width: 120px;
}

table:not(.mat-calendar-table) td.options button {
  visibility: hidden;
}

table:not(.mat-calendar-table) td.number-cell {
  text-align: right;
  padding-right: 10px !important;
}

table:not(.mat-calendar-table) tbody {
  background: white;
}

table:not(.mat-calendar-table) tbody tr:hover {
  background: #f1f1f1;
  /*box-shadow: 0px 1px 5px -2px #8a8a8a;*/
}

table:not(.mat-calendar-table) tbody td.options button:hover {
  background: #d6d6d6;
}

table:not(.mat-calendar-table) tbody tr:hover td.options button {
  visibility: visible;
}

mat-tab-group:not(.tab-modal) .mat-tab-label {
  color: white;
  min-width: 100px !important;
}

mat-tab-group:not(.tab-modal) .mat-tab-label-active {
  opacity: 1 !important;
}

mat-tab-group:not(.tab-modal) .mat-tab-labels {
  background: #002269;;
}

.mat-drawer-content {
  z-index: 9 !important;
  overflow: hidden !important;
}

mat-tab-group:not(.tab-modal) .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  background: #002269;;
}

mat-tab-group:not(.tab-modal) .mat-tab-header-pagination-chevron {
  border-color: rgba(255, 255, 255, 0.52);
}

mat-tab-group:not(.tab-modal) .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: rgba(255, 255, 255, 0.52);
}

mat-tab-group:not(.tab-modal) .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fba501;
  height: 4px;;
}

mat-tab-group.tab-modal mat-tab-body {
  padding: 24px !important;
}

mat-tab-group.tab-modal mat-tab-body {
  padding: 24px 24px 0 24px !important;
}

.container-report mat-tab-group.tab-modal .mat-tab-label {
  font-size: 12px;
}


.primary {
  background-color: var(--oriana-blue);
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.mat-tooltip {
  font-size: 9px;
  padding: 3px;
}

.table-container {
  height: calc(100% - 177px);
  position: absolute;
  width: 100%;
  min-width: 480px !important;
  overflow: auto;
  /*padding: 20px;*/
  /*background-image: url("https://vignette.wikia.nocookie.net/halonocanon/images/0/0e/Crysis_2.jpg/revision/latest?cb=20120923220428&path-prefix=es");*/
  /*background-image: url("/assets/fondo.svg");*/
  background-color: #f3f3f3;
}

.table-container .content {
  padding: 20px;
}

/*.mat-sort-header-arrow, .mat-sort-header-position-before .mat-sort-header-arrow {*/
/*color: white;*/
/*}*/

.mat-toolbar.mat-primary {
  background: #002269;
  color: #fff;
}

form mat-form-field {
  width: 100%;
  font-size: 12px !important;
}

form input:read-only {
  text-transform: uppercase !important;
}

form textarea {
  max-height: 250px !important;
}

.mat-tab-label[aria-selected="true"] {
  color: orange;
}


/*.mat-checkbox-checked .mat-checkbox-background {*/
/*background-color: #388e3c !important;*/
/*}*/

/*.mat-checkbox-indeterminate .mat-checkbox-background {*/
/*background-color: #fb9801 !important;*/
/*}*/

/*.mat-checkbox-checked .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {*/
/*background-color: #388e3c !important;*/
/*}*/

/*.mat-checkbox-indeterminate .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {*/
/*background-color: #fb9801 !important;*/
/*}*/

.mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

.mat-dialog-content {
  padding: 24px !important;
  margin: 0 !important;
}
.mat-dialog-title {
  position: relative;
  width: auto;
  background: #235b8e;
  color: white;
  padding: 10px 24px;
  margin: 0 !important;
}

.mat-dialog-title {
  font: 500 17px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #235a8d;
}

.mat-dialog-actions {
  margin-bottom: -18px !important;
}

.date-cell {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}

td.mat-column-options {
  text-align: center !important;
  align-content: center !important;
}

button.mat-menu-item {
  height: 36px;
  line-height: 36px;
}
.mat-menu-item span {
  font-size: 12px !important;
}

.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

mat-form-field input[type="number"] {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

app-oriana-checkbox .mat-checkbox {
  margin: 10px !important;
}

app-oriana-checkbox-normal .mat-checkbox {
  margin: 10px !important;
}

app-oriana-checkbox-normal .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background,
app-oriana-checkbox .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0 !important;
}

td input {
  width: 70px;
  text-align: right !important;
  border: solid 1px #e8e8e8;
  padding: 8px 2px;
  border-radius: 3px;
}

td input:not(:disabled):hover {
  border: solid 1px #091e61;
}

td input:focus {
  outline: solid 2px #091e61;
}

td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

td input:disabled {
  background-color: #f9f9f9b3;
  color: #6f6f6f;
}

.mat-tab-nav-bar {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  background-color: #002269;
}

.mat-tab-nav-bar a {
  color: white;
}

.float-button {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
  background: #002269;
  color: white !important;
  z-index: 9999;
}

button.mat-menu-item span {
  text-transform: uppercase;
}

nav.mat-tab-nav-bar {
  max-width: 100%;
}

.mat-tab-body-wrapper {
  height: calc(100% - 48px) !important;
}

.mat-radio-disabled .mat-radio-container {
  background: #c7c7c7;
  border-radius: 10px;
}

.mat-list-base .mat-list-item {
  display: block;
  height: 48px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  cursor: pointer;
}

/*@media (min-width: 1400px) and (orientation: landscape) {*/
/*body {*/
/*background: #ffa5001a;*/
/*}*/
/*.app-container{*/
/*position: absolute;*/
/*width: calc(100% - 80px);*/
/*height: calc(100% - 40px);*/
/*margin: 20px 40px;*/
/*border-radius: 10px;*/
/*overflow: hidden;*/
/*box-shadow: 0 0 1px 1px #bbbbbb;*/
/*}*/
/*}*/
/*@media (min-width: 1900px) and (orientation: landscape) {*/
/*body {*/
/*background: #ffa5001a;*/
/*}*/
/*.app-container{*/
/*position: absolute;*/
/*width: calc(100% - 120px);*/
/*height: calc(100% - 40px);*/
/*margin: 20px 60px;*/
/*border-radius: 10px;*/
/*overflow: hidden;*/
/*box-shadow: 0 0 1px 1px #bbbbbb;*/
/*}*/
/*}*/
app-modal-reportdiag .mat-tab-body-content {
  height: 388px;
  overflow: auto !important;
}

.withe {
  background-color: white !important;
}

.text-black {
  color: #000 !important;
}

.mat-tab-header-pagination-chevron {
  border-color: rgba(255, 255, 255, 0.87);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: rgba(255, 255, 255, 0.38);
}
