<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubtitle()"></app-oriana-toolbar>
<div class="container">
  <app-order-buy (getOrder)="setLetter($event)" [editable]="false"></app-order-buy>
</div>
