<app-oriana-table-toolbar *ngIf="true"
                          [onBack]="true"
                          [title]="''"
                          [searchTittle]="'Buscar compras'"
                          [onMore]="false"
                          [onProgress]="progress"
                          [onNew]="disabledOrder()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="orderTracings">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="dateOrderBuy" *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOrderBuy|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header="amountOrderBuy" *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.amountOrderBuy|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header="state" *matHeaderCellDef>Estado</th>
        <td mat-cell class="number-cell"
            *matCellDef="let element"> {{element.stateOrderBuy == 0 ? 'Pendiente' : element.stateOrderBuy == 1 ? 'Rechazado' : 'Aprobado'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 70px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button mat-icon-button color="primary" (click)="show(k)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button [disabled]="!editable || ele.stateOrderBuy == 2" [hidden]="!editable" color="primary"
                  (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [disabled]="!editable || ele.stateOrderBuy == 2" [hidden]="!editable" color="warn"
                  (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
