<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [searchTittle]="'Buscar Equipos'"
                          [onMore]="false"
                          [onNew]="false"
                          [onProgress]="progress"
                          [onSave]="false"
                          (searching)="search($event)"
                          (refresh)="load()"
                          (print)="print()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="viewEquipmentForm">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="nameOwnerEquipment" *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameOwnerEquipment}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell mat-sort-header="timeMonth" *matHeaderCellDef>Tiempo</th>
        <td mat-cell *matCellDef="let element">{{element.timeMonth}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="unity">
        <th mat-header-cell mat-sort-header="unityCost" *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let element">{{element.unityCost}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header="priceHour" *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.priceHour|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell mat-sort-header="totalAmount" *matHeaderCellDef>Monto<br>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.totalAmount|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.total|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-header-cell mat-sort-header="anticipationMonth" *matHeaderCellDef>Anticipo</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.anticipationMonth|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell mat-sort-header="liquidPayableMonth" *matHeaderCellDef>Liquido <br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPayableMonth|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{total.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <button [disabled]="isDisabledPlan()" mat-icon-button color="primary" matTooltip="Planillar"
                  matTooltipPosition="right"
                  [routerLink]="['/forms/equipment/' + idEquipmentForm + '/planerEquipment/' + ele.idOwnerEquipment ]">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
