<form autocomplete="off" enctype="multipart/form-data" (submit)="accept()">

  <mat-form-field class="col s50" style="margin-right: 20px;">
    <input matInput placeholder="N&deg; Recibo" required [(ngModel)]="transaction.nroReceiptTransaction"
           name="nroReceiptTransaction">
  </mat-form-field>
  <mat-form-field class="col s50"
                  (click)="since.open()">
    <input matInput [min]="period.bankPeriod" [max]="endDate" [matDatepicker]="since" placeholder="Fecha" readonly
           required
           [(ngModel)]="transaction.dateTransaction" name="dateTransaction">
    <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
    <mat-datepicker #since></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select required placeholder="Cuenta Banco" [(ngModel)]="transaction.idActor" name="idActor">
      <mat-option *ngFor="let account of accounts" [value]="account.idBank">
        {{account.nameAccountBank}}
      </mat-option>
      <mat-option [disabled]="true" *ngIf="accounts.length == 0">VACIO</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col s50">
    <input matInput type="number" placeholder="Monto" required [(ngModel)]="transaction.amountTransaction"
           name="amountTransaction">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Detalle" [maxLength]="300"
              [(ngModel)]="transaction.descriptionTransaction" name="descriptionTransaction"></textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <span class="example-spacer"></span>
    <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
    <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
            cdkFocusInitial>{{text.accept}}</button>
  </div>
</form>
