form {
  font-size: 12px !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  top: 0;
  left: 0;
}

.mat-dialog-actions {
  margin: 0px !important;
  padding: 0 0 24px 0;
  min-height: 36px;
}

.col.s50 {
  width: 47%;
  display: inline-block;
}
