<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Anticipo Planilla Eventual
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="accept()">

    <mat-form-field class="col s50" style="margin-right: 20px;">
      <input matInput placeholder="N&deg; Recibo" required [(ngModel)]="transaction.nroReceiptTransaction"
             name="nroReceiptTransaction">
    </mat-form-field>
    <mat-form-field class="col s50"
                    (click)="since.open()">
      <input matInput [min]="period.bankPeriod" [max]="endDate" [matDatepicker]="since" placeholder="Fecha" readonly
             required
             [(ngModel)]="transaction.dateTransaction" name="dateTransaction">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="Proyecto" (valueChange)="loadFormSelect($event)">
        <mat-option *ngFor="let form of forms; let i = index" [value]="i">
          {{form.nameProject}}
        </mat-option>
        <mat-option [disabled]="true" *ngIf="forms.length == 0">VACIO</mat-option>
      </mat-select>
    </mat-form-field>
    <!--<mat-form-field>-->
    <!--<input matInput type="text" [disabled]="true" placeholder="Proveedor" readonly required [value]="contract.nameProvider"-->
    <!--name="nameProvider">-->
    <!--</mat-form-field>-->
    <mat-form-field class="col s50" style="margin-right: 20px">
      <input matInput type="text" [disabled]="true" placeholder="Cuenta" readonly required [value]="bank.nameAccountBank"
             name="nameProject">
    </mat-form-field>
    <mat-form-field class="col s50">
      <input matInput type="number" placeholder="Monto" required [(ngModel)]="transaction.amountTransaction"
             name="amountTransaction">
      <span matSuffix>/ {{calcNewBalance()|dataMoney}}</span>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalle" [maxLength]="300"
                [(ngModel)]="transaction.descriptionTransaction" name="descriptionTransaction"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
