<h3 mat-dialog-title>{{data.title}}</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="sendFormData()">
    <mat-form-field class="col s50" style="margin-right: 20px">
      <mat-label>N&deg; Documento</mat-label>
      <input matInput type="text" placeholder="N&deg; Documento" required [(ngModel)]="spreadSheetSelect.documentForm"
             name="documentModification">
    </mat-form-field>
    <mat-form-field class="col s50" (click)="date.open()">
      <mat-label>Fecha Registro</mat-label>
      <input matInput [matDatepicker]="date" placeholder="fecha de Registro" readonly required
             [(ngModel)]="spreadSheetSelect.dateForm" name="dateForm">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="spreadSheetSelect.TypeForm!='AN'" class="col s50" style="margin-right: 20px"
                    (click)="since.open()">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [min]="spreadSheetSelect.sinceDateForm" [max]="spreadSheetSelect.tillDateForm"
             (dateChange)="ver()" [matDatepicker]="since" placeholder="desde" readonly required
             [(ngModel)]="spreadSheetSelect.sinceDateForm" name="sinceDateForm">
      <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
      <mat-datepicker #since></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="spreadSheetSelect.TypeForm!='AN'" class="col s50" (click)="till.open()">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [min]="spreadSheetSelect.sinceDateForm" [max]="spreadSheetSelect.tillDateForm"
             [matDatepicker]="till" placeholder="hasta" readonly required [(ngModel)]="spreadSheetSelect.tillDateForm"
             name="tillDateForm">
      <mat-datepicker-toggle matSuffix [for]="till"></mat-datepicker-toggle>
      <mat-datepicker #till></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="spreadSheetSelect.TypeForm!='AN'" class="col s50" style="margin-right: 20px;">
      <mat-label>Monto planillado</mat-label>
      <input matInput type="number" placeholder="Monto Planillado" (keyup)="ver()" required
             [(ngModel)]="spreadSheetSelect.amountForm" name="amountForm">
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field *ngIf="spreadSheetSelect.TypeForm!='AN'" class="col s50">
      <mat-label>Descuento Anticipo</mat-label>
      <input matInput type="number" placeholder="Descuento Anticipo" (keyup)="ver()" required
             [(ngModel)]="spreadSheetSelect.advanceDiscountForm" name="advanceDiscountForm">
    </mat-form-field>
    <mat-form-field class="col s50">
      <mat-label>Liquido Pagable</mat-label>
      <input matInput type="number" [readonly]="spreadSheetSelect.TypeForm!='AN'" placeholder="Liquido Pagable" required
             [(ngModel)]="spreadSheetSelect.liquidPayableForm" name="liquidPayableForm">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" [maxLength]="300" [(ngModel)]="spreadSheetSelect.descriptionForm"
                name="descriptionForm"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Archivo</mat-label>
      <input readonly appInputFile [(ngModel)]="spreadSheetSelect.fileForm" matInput  name="fileModification" placeholder="Archivo">
    </mat-form-field>
    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="closeDialog()">{{text.cancel}}</button>
      <button type="submit" [disabled]="validData()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
