<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Equipos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="createPersonal()"
                          (refresh)="loadPersonal()"
                          (print)="printReport()"
                          (searching)="searchPersonal($event)"
                          (filterOption)="switchPersonal($event)"></app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="ownerEquipments">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-sort-header="codeOwnerEquipment" mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element"> {{element.codeOwnerEquipment}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-sort-header="nameOwnerEquipment" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nameOwnerEquipment}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="costo">
        <th mat-sort-header="costOwnerEquipment" mat-header-cell *matHeaderCellDef>Costo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.costOwnerEquipment|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="unidad">
        <th mat-sort-header="unityCost" mat-header-cell *matHeaderCellDef>unidad</th>
        <td mat-cell *matCellDef="let element"> {{element.unityCost}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox [disabled]="isDisabled()" (changed)="updateStatePersonal($event,ele.idOwnerEquipment)"
                               [checked]="ele.availableOwnerEquipment"></app-oriana-checkbox>
          <a  [appShowFile]="ele.fileOwnerEquipment" mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </a>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="editPersonal(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deletePersonal(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
