<!--<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="transactions">-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell *matHeaderCellDef> No.</th>-->
<!--<td mat-cell *matCellDef="let i = index">{{i + 1}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="date">-->
<!--<th mat-sort-header="dateTransaction" mat-header-cell *matHeaderCellDef>Fecha</th>-->
<!--<td mat-cell class="date-cell" *matCellDef="let element">{{element.dateTransaction|dateOriana}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="check">-->
<!--<th mat-sort-header="numberCheck" mat-header-cell *matHeaderCellDef>N&deg; Cheque</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.numberCheck}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="project">-->
<!--<th mat-sort-header="dateCheck" mat-header-cell *matHeaderCellDef>Proyecto</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameProject}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="operation">-->
<!--<th mat-sort-header="typeTransaction" mat-header-cell *matHeaderCellDef>Operacion</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.typeTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="accountD">-->
<!--<th mat-sort-header="nameAccountTransaction" mat-header-cell *matHeaderCellDef>Cuenta/Descuento</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameAccountTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="category">-->
<!--<th mat-sort-header="nameCategory" mat-header-cell *matHeaderCellDef>Categoria</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nameCategory}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="respaldo">-->
<!--<th mat-sort-header="nroReceiptTransaction" mat-header-cell *matHeaderCellDef>N&deg; Respaldo</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.nroReceiptTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="description">-->
<!--<th mat-sort-header="descriptionTransaction" mat-header-cell *matHeaderCellDef>Descripcion</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.descriptionTransaction}}</td>-->
<!--<td mat-footer-cell *matFooterCellDef></td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="import">-->
<!--<th mat-sort-header="amountTransaction" mat-header-cell *matHeaderCellDef>Importe</th>-->
<!--<td mat-cell class="number-cell" *matCellDef="let element">{{element.amountTransaction|dataMoney}}</td>-->
<!--<td mat-footer-cell class="number-cell" *matFooterCellDef>{{total.total|dataMoney}}</td>-->
<!--</ng-container>-->
<!--&lt;!&ndash;<ng-container matColumnDef="options">&ndash;&gt;-->
<!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>&ndash;&gt;-->
<!--&lt;!&ndash;<td mat-cell *matCellDef="let ele ;let k = index">&ndash;&gt;-->
<!--&lt;!&ndash;<button mat-icon-button color="primary" matTooltip="Recibo" (click)="printFacturation(ele.idTransaction)">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>print</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button mat-icon-button color="primary" matTooltip="Partes" [disabled]="isParted(ele)" (click)="printFacturation(ele.idTransaction)">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>view_headline</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button mat-icon-button color="primary" (click)="edit(k)">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button mat-icon-button color="warn" (click)="deleted(k)">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td mat-footer-cell *matFooterCellDef></td>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

<!--<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>-->
<!--</table>-->
