<img src="/assets/images/oriana-logo5.jpg" class="brand-logo" width="270" style="margin: 15px;">
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item *ngFor="let r of userRoutesService.routes" matRipple [routerLink]="r.link" [routerLinkActive]="'routerActive'"
                 (click)="isModule(r.name)">
    <div mat-card-avatar>
      <img [src]="r.img" alt="">
    </div>
    <span>{{r.name}}</span>
  </mat-list-item>
</mat-list>
