.mat-card-avatar {
  /*position: relative;*/
  /*width: 30px;*/
  /*padding: 7px;*/
  /*height: 30px;*/
  /*border-radius: 50%;*/
  /*overflow: hidden;*/
  /*background: #e2e2e2;*/
  position: relative;
  width: 30px;
  padding: 7px;
  height: 30px;
  /*border-radius: 11%;*/
  overflow: hidden;
  /*background: #b1b1b145;*/
}

.mat-card-avatar img {
  position: relative;
  height: 30px;
  width: 30px;
  margin: auto;
}

mat-list-item {
  height: 50px !important;
  padding: 2px 0 !important;
  font-size: 13px !important;
}

mat-list-item:focus {
  outline: none;
}

mat-list-item span {
  margin-left: 15px !important;
  font-weight: 600;
}

.routerActive {
  background: #83a1ff2b;
  /*background: #c7d3f9;*/
}
