<h3 mat-dialog-title>Anticipos</h3>
<form mat-dialog-content autocomplete="off" enctype="multipart/form-data" (reset)="closeDialog()"
      (submit)="sendFormData()">
  <div class="content-table">
    <table *ngIf="listAdvanceEquipment.length>0" mat-table [dataSource]="listAdvanceEquipment">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <app-oriana-checkbox-normal [checked]="element.paidOut==1" [disabled]="isDisabled(element)"
                                      [textTooltip]="tooltip"
                                      (changed)="addAdvance(element,$event)"></app-oriana-checkbox-normal>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element">{{element.dateTransaction|dateOriana}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let e">{{e.descriptionTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">Total a descontar</td>
      </ng-container>
      <ng-container matColumnDef="recib">
        <th mat-header-cell *matHeaderCellDef>N&deg; Recibo</th>
        <td mat-cell *matCellDef="let e">{{e.nroReceiptTransaction}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="mount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell class="number-cell" *matCellDef="let element">{{element.amountTransaction * -1|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{getTotalAssig()|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
    <p class="not-title" *ngIf="listAdvanceEquipment.length == 0">No Existen Anticipos</p>
  </div>
  <div mat-dialog-actions>
    <span class="example-spacer"></span>
    <button *ngIf="listAdvanceEquipment.length==0" mat-raised-button (click)="closeDialog()">Cerrar</button>
    <button *ngIf="listAdvanceEquipment.length>0" type="reset" mat-raised-button>{{text.cancel}}</button>
    <button *ngIf="listAdvanceEquipment.length>0" type="submit" mat-raised-button color="primary"
            cdkFocusInitial>{{text.accept}}</button>
  </div>
</form>
