<h3 mat-dialog-title>Item</h3>
<div mat-dialog-content>
  <form autocomplete="off" enctype="multipart/form-data" (submit)="datart()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" required [(ngModel)]="item.item_name" name="item_name">
    </mat-form-field>
    <mat-form-field class="col s50" style="margin-right: 20px;">
      <mat-label>Unidad</mat-label>
      <input matInput placeholder="Unidad" required [(ngModel)]="item.item_unity" name="item_unity">
    </mat-form-field>
    <mat-form-field class="col s50">
      <mat-label>Precio unitario</mat-label>
      <input matInput type="number" placeholder="Precio Unitario" required [(ngModel)]="item.item_price"
             name="item_price">
    </mat-form-field>

    <div mat-dialog-actions>
      <span class="example-spacer"></span>
      <button type="reset" mat-raised-button (click)="onNoClick()">{{text.cancel}}</button>
      <button type="submit" [disabled]="valid()" mat-raised-button color="primary"
              cdkFocusInitial>{{text.accept}}</button>
    </div>
  </form>
</div>
