<app-oriana-table-toolbar *ngIf="titulo"
                          [onBack]="false"
                          [title]="titulo"
                          [searchTittle]="'Buscar Contratos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="contracts">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="contract">
        <th mat-sort-header="numberContract" mat-header-cell *matHeaderCellDef>N° Contrato</th>
        <td mat-cell *matCellDef="let element"> {{element.numberContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-sort-header="nameProject" mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-sort-header="nameProvider" mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let e">{{e.nameProvider}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-sort-header="categoryContract" mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element"> {{element.categoryContract}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 160px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [checked]="ele.activeContract==1"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledItem()" mat-icon-button color="primary"
                  [routerLink]="['/contracts/' + ele.idContract + '/item/1']">
            <mat-icon>view_quilt</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="primary" (click)="edit(k)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
