<app-oriana-table-toolbar *ngIf="titulo"
                          [title]="titulo"
                          [onMore]="false"
                          [onPrint]="false"
                          [onNew]="false"
                          [onSave]="onSave"
                          [onProgress]="progress"
                          [onSearch]="false"
                          (refresh)="load()"
                          (save)="save()">
</app-oriana-table-toolbar>
<div class="table-container" [ngStyle]="{'height': + (height-64) + 'px'}">
  <div class="content">
    <table mat-table [dataSource]="viewEventualWork">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameProject}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="sun1">
        <th mat-header-cell *matHeaderCellDef>D</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.sun1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="mon1">
        <th mat-header-cell *matHeaderCellDef>L</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.mon1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="tue1">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.tue1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="wed1">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.wed1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="thu1">
        <th mat-header-cell *matHeaderCellDef>J</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.thu1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="fri1">
        <th mat-header-cell *matHeaderCellDef>V</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.fri1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sat1">
        <th mat-header-cell *matHeaderCellDef>S</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.sat1" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sun2">
        <th mat-header-cell *matHeaderCellDef>D</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.sun2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="mon2">
        <th mat-header-cell *matHeaderCellDef>L</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.mon2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="tue2">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.tue2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="wed2">
        <th mat-header-cell *matHeaderCellDef>M</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.wed2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="thu2">
        <th mat-header-cell *matHeaderCellDef>J</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.thu2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="fri2">
        <th mat-header-cell *matHeaderCellDef>V</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.fri2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="sat2">
        <th mat-header-cell *matHeaderCellDef>S</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" class="min-cell" [(ngModel)]="element.sat2" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef>Dias</th>
        <td mat-cell *matCellDef="let e" class="number-cell">{{e.totalDays|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Jornal</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.salaryJornal|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell"></td>
      </ng-container>
      <ng-container matColumnDef="basic">
        <th mat-header-cell *matHeaderCellDef>Monto<br>Basico</th>
        <td mat-cell class="number-cell" *matCellDef="let e">{{e.basicMount|dataMoney}}</td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">Total</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" [(ngModel)]="element.discount" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.discount|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef>Bono</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" appInputSelect type="number" [(ngModel)]="element.bonus" (keyup)="calc(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.bonus|dataMoney}}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Monto<br>Total</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.mountTotal|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.mountTotal|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell *matCellDef="let element">
          <input [disabled]="isDisabled()" type="number" [(ngModel)]="element.advance" readonly (keyup)="calc(element)" (focus)="open(element)">
        </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.advance|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-header-cell *matHeaderCellDef>Liquido <br>Pagable</th>
        <td mat-cell *matCellDef="let element" class="number-cell"> {{element.liquidPay|dataMoney}} </td>
        <td mat-footer-cell *matFooterCellDef class="number-cell">{{totalWork.liquidPay|dataMoney}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
<button mat-icon-button (click)="openDescription()" [disabled]="isDisabled()" color="primary" class="float-button mat-elevation-z3"
        matTooltip="Descripcion" matTooltipPosition="left">
  <mat-icon>subject</mat-icon>
</button>
