td input.min-cell {
  width: 25px;
  border: solid 1px #e8e8e8;
  padding: 8px 1px;
  border-radius: 0px;
  text-align: center !important;
}
table:not(.mat-calendar-table) th, table:not(.mat-calendar-table) td {
  padding: 0 1px !important;
}
