<app-oriana-table-toolbar [title]="titulo"
                          [searchTittle]="'Buscar Periodos'"
                          [options]="options"
                          [onProgress]="progress"
                          [onNew]="!isDisabled()"
                          (new)="create()"
                          (refresh)="load()"
                          [onPrint]="false"
                          (print)="printReport()"
                          (searching)="search($event)"
                          (filterOption)="setCurrent($event)"></app-oriana-table-toolbar>
<div class="table-container">
  <div class="content">
    <table mat-table [dataSource]="periods">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element"> {{element.billingPeriod|shortDate}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;">Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <app-oriana-checkbox-normal [disabled]="isDisabled()" [checked]="ele.stateBilling==1"
                                      [textTooltip]="textTooltip"
                                      (changed)="updateState($event,k)"></app-oriana-checkbox-normal>
          <button [disabled]="isDisabledR()" mat-icon-button color="primary"
                  [routerLink]="'/invoice/process/' + ele.idBillingPeriod + '/checks'"
                  matTooltip="opcion" matTooltipPosition="right">
            <mat-icon>web</mat-icon>
          </button>
          <!--<button mat-icon-button color="primary" (click)="edit(k)">-->
          <!--<mat-icon>edit</mat-icon>-->
          <!--</button>-->
          <button [disabled]="isDisabled()" mat-icon-button color="warn" (click)="deleted(k)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
