<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <button type="button" (click)="pressBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    Seleccionar Planilla
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content *ngIf="idProject">
  <mat-radio-group class="example-radio-group" [(ngModel)]="positionSelect" name="positionSelect">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="projectSS">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> N&deg;</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef>total</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-sort-header="TypeForm" mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element"> {{element.TypeForm}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="doc">
        <th mat-sort-header="documentForm" mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element"> {{element.documentForm}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-sort-header="dateForm" mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell class="date-cell" *matCellDef="let element"> {{element.dateForm|dateOriana}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="advance">
        <th mat-sort-header="advanceDiscountForm" mat-header-cell *matHeaderCellDef>Desc Anticipo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.advanceDiscountForm|dataMoney}} </td>
        <td mat-footer-cell class="number-cell"
            *matFooterCellDef>{{getTotalColumn('advanceDiscountForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="liquid">
        <th mat-sort-header="liquidPayableForm" mat-header-cell *matHeaderCellDef>Liquido pagable</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.liquidPayableForm|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('liquidPayableForm')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef>Monto Pagado</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.mountPayAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('mountPayAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number-cell" *matCellDef="let element"> {{element.balanceAux|dataMoney}} </td>
        <td mat-footer-cell class="number-cell" *matFooterCellDef>{{getTotalColumn('balanceAux')|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let ele ;let k = index">
          <mat-radio-button color="primary" [disabled]="isCheckedDisabled(ele)" required [value]="k"></mat-radio-button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button type="reset" mat-raised-button (click)="canceled()">{{text.cancel}}</button>
  <button type="submit" [disabled]="validForm()" (click)="sendFormData()" mat-raised-button color="primary"
          cdkFocusInitial>{{text.accept}}</button>
</div>



