table {
  box-shadow: none;
}

form {
  font-size: 12px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 52px;
}
mat-toolbar {
  width: 100% !important;
  padding: 0 !important;
  height: 52px;
}

mat-toolbar-row {
  height: inherit;
}

.mat-dialog-content {
  overflow: hidden auto;
  max-height: 368px;
  margin: 20px 20px 0 20px !important;
  padding: 0 !important;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  box-shadow: 0px 0px 11px -6px #585858;
}

.mat-dialog-actions {
  margin-bottom: 0px !important;
  padding: 8px 18px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  top: 0;
  left: 0;
}
