<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <div class="row-table">
      <table mat-table [dataSource]="years">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggleYear() : null"
                          [checked]="selectionYears.hasValue() && isAllSelectedYear()"
                          [indeterminate]="selectionYears.hasValue() && !isAllSelectedYear()"
                          [aria-label]="checkboxLabelYear()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionYears.toggle(row) : null"
                          [checked]="selectionYears.isSelected(row)"
                          [aria-label]="checkboxLabelYear(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="nameYear">
          <th mat-header-cell *matHeaderCellDef>A&ntilde;o</th>
          <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsYears; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsYears;"
            (click)="selectionYears.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="row-table">
      <table mat-table [dataSource]="months">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggleMonth() : null"
                          [checked]="selectionMonths.hasValue() && isAllSelectedMonth()"
                          [indeterminate]="selectionMonths.hasValue() && !isAllSelectedMonth()"
                          [aria-label]="checkboxLabelMonth()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectionMonths.toggle(row) : null"
                          [checked]="selectionMonths.isSelected(row)"
                          [aria-label]="checkboxLabelMonth(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="month">
          <th mat-header-cell *matHeaderCellDef>Mes</th>
          <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMonth; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMonth;"
            (click)="selectionMonths.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-grid-tile>
</mat-grid-list>
