<app-oriana-toolbar [title]="titles.module" [subTitle]="getSubtitle()"></app-oriana-toolbar>
<div class="container">
  <app-tracing-letter (getLetter)="setLetter($event)"></app-tracing-letter>
</div>
